/* VARIOUS HACKS*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}
/* END VARIOUS HACKS */
/* GENERIC STYLES */
/* cross device generic styles */
.popup {
  display: none;
}
.page {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.page header {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}
.page header header h1 {
  display: inline-block;
  margin: 0 0;
}
.page header nav ul {
  list-style: none;
}
.page header .options-button {
  display: none;
}
.page header .search-button {
  display: none;
}
.page main {
  float: left;
  width: 100%;
  position: relative;
}
.page main .label {
  margin: 0 5px 0 0;
  color: dodgerblue;
}
/* end cross device generic styles */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page {
    width: 100%;
  }
  .page header {
    height: 50px;
    background-color: tomato;
  }
  .page header h1 {
    overflow: hidden;
    width: 200px;
    top: 0;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -100px;
    height: 100%;
    text-align: center;
  }
  .page header h1 img {
    display: none;
    height: 100%;
    margin: 0 auto;
  }
  .page header nav {
    position: absolute;
    width: 100%;
    left: -100%;
  }
  .page header .search {
    position: absolute;
    width: 100%;
    right: -100%;
  }
  .page header button {
    width: 50px;
    height: 50px;
  }
  .page header .options-button {
    float: left;
    display: block;
  }
  .page header .search-button {
    float: right;
    display: block;
  }
  /* end header styles */
}
/* Desktops ----------- */
@media only screen and (min-width: 768px) {
  .page {
    max-width: 768px;
    margin: 0 auto;
    overflow: hidden;
  }
  .page header h1 {
    display: inline-block;
    margin: 0 0;
  }
  .page header nav {
    position: relative;
    float: right;
    height: 100%;
  }
  .page header nav ul li {
    float: left;
    display: inline-block;
    margin: 0 5px;
  }
  .page header .search {
    height: 100%;
    margin-top: 15px;
    float: right;
  }
  .page header .search input,
  .page header .search .go-search {
    float: left;
  }
  .page header .search input {
    width: 175px;
  }
  .page footer {
    float: left;
    width: 100%;
    font-size: 12px;
  }
  .page footer .footer-note {
    float: left;
  }
  .page footer .links {
    float: right;
  }
  .page footer .links ul {
    margin: 0 0;
    list-style: none;
  }
  .page footer .links ul li {
    display: inline-block;
  }
  .page footer .affiliates {
    width: 100%;
    float: left;
  }
  .page footer .affiliates .affiliate-icon {
    width: 50px;
    height: 40px;
    background-color: rosybrown;
    float: left;
    margin: 0 5px 0 0;
  }
}
/* Tablets ----------- */
@media only screen and (min-width: 481px) {
  .page {
    width: 100%;
  }
  header h1 {
    display: inline-block;
    float: left;
  }
  header nav {
    float: right;
    height: 50px;
  }
  header nav ul li {
    float: left;
    display: inline-block;
    margin: 0 5px;
  }
  header .search {
    float: right;
  }
}
/* END GENERIC STYLES */
/* From here specific styles for item.html, etc etc*/
/* PAGE: item.html */
/* Cross device ----------- */
.popover .login-form,
.slide-panel .login-form {
  display: none;
}
.popover .login-form.visible,
.slide-panel .login-form.visible {
  display: block;
}
.popover .bookmarks,
.slide-panel .bookmarks {
  display: none;
}
.popover .bookmarks.visible,
.slide-panel .bookmarks.visible {
  display: block;
}
.page main.item .view-item {
  background-color: black;
  color: white;
  width: 100%;
  padding-bottom: 56%;
  text-align: center;
}
.page main.item .column.item article .meta-information {
  position: relative;
}
.page main.item .column.item article .meta-information > .row {
  width: 100%;
  margin: 0 0 0 0;
}
.page main.item .column.item article .meta-information > .row.more-info {
  height: 0;
  margin: 0;
  overflow: hidden;
}
.page main.item .column.item article .meta-information > .row.more-info.visible {
  height: auto;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page main.item .column {
    width: 100%;
    float: left;
  }
  .page main.item .column.item article .meta-information .header {
    position: relative;
    padding-right: 50px;
  }
  .page main.item .column.item article .meta-information .actions {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
  }
  .page main.item .column.item article .meta-information .row.basic-info {
    padding-right: 50px;
  }
  /* end header styles */
}
/* Desktops ----------- */
@media only screen and (min-width: 768px) {
  .page main.item .column.item {
    width: 100%;
    float: left;
  }
  .page main.item .column.item article {
    margin-right: 168px;
  }
  .page main.item .column.item article .view-item-wrapper {
    height: auto;
    max-width: 600px;
    width: 100%;
  }
  .page main.item .column.item article .meta-information {
    position: relative;
    float: left;
    border: 1px solid dodgerblue;
  }
  .page main.item .column.item article .meta-information .header {
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px solid dodgerblue;
  }
  .page main.item .column.item article .meta-information .header h2 {
    margin: 5px 0;
    float: left;
    display: inline-block;
  }
  .page main.item .column.item article .meta-information .actions {
    position: absolute;
    top: 0;
    right: 0;
  }
  .page main.item .column.item article .meta-information > .row {
    width: 100%;
    margin: 0 0 0 0;
  }
  .page main.item .column.item article .meta-information > .row.more-info {
    height: 0;
    margin: 0;
    overflow: hidden;
  }
  .page main.item .column.item article .meta-information > .row.more-info.visible {
    height: auto;
  }
  .page main.item .column.item article .meta-information .column {
    float: left;
    width: 50%;
  }
  .page main.item .column.related {
    float: left;
    width: 168px;
    margin-left: -168px;
  }
  .page main.item .column.related aside.related {
    float: left;
    width: 161px;
    margin-left: 5px;
    border: 1px solid dodgerblue;
  }
  .page main.item .column.related aside.related .related-item {
    text-align: center;
    width: 151px;
    padding-bottom: 56%;
    margin: 10px auto;
    background-color: brown;
  }
  .page main.item .column.related .ad {
    float: left;
    width: 161px;
    padding-bottom: 56%;
    margin: 5px 0 0 5px;
    border: 1px solid dodgerblue;
    text-align: center;
  }
}
