.page {
  @media only screen and (min-width : 800px) {
    max-width: 1024px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/* header styles */
header {
  float: left;
  width: 100%;
}
header h1 {
  display: inline-block;
  margin: 0 0;
}
header nav{
  float: right;
}
header nav ul{
  list-style: none;
}
header nav ul li{
  float: left;
  display: inline-block;
  margin: 0 5px;
}
header .search{
  float: right;
}
header .search input, header .search .gosearch{
  float: left;
}

/* item page styles */
main.item{
  float: left;
  position: relative;
  width: 100%;
}
main.item article{
  position: relative;
  @media only screen and (min-width : 800px) {
    width: auto;
    margin-right: -170px;
  }
}
main.item article .view-item{
  width: 100%;
  max-width: 640px;
  background-color: black;
}
main.item aside.related{
  @media only screen and (min-width : 800px) {
    width: 170px;
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
  }
}

main.item aside.related .related-item{
  float: left;
  @media only screen and (min-width : 800px) {
    width: 170px;
    height: 130px;
    margin: 0 0 5px 0;
  }
  background-color: brown;
}
