@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic);
/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
.content-map .main .content {
  margin-top: 6px;
  margin-left: -21px;
  margin-right: -21px;
}
.content-map .main .content:before,
.content-map .main .content:after {
  content: " ";
  display: table;
}
.content-map .main .content:after {
  clear: both;
}
.content-map .main .content .info-wrap {
  width: 187.5px;
  float: left;
  min-height: 200px;
}
.content-map .main .content .info-wrap .info {
  width: 187.5px;
  border-right: 6px solid #f2f2f2;
  border-left: 6px solid #f2f2f2;
  background: #fff;
  padding-left: 0px;
  padding-right: 0px;
}
.content-map .main .content .info-wrap .info .data {
  padding: 20px;
}
.content-map .main .content .info-wrap .info .data h1 {
  color: #8cc63f;
  font-size: 1.286em;
  margin-top: 0px;
  margin-bottom: 20px;
}
.content-map .main .content .info-wrap .info .data .counter {
  font-size: 1.714em;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  display: block;
  margin-top: -5px;
}
.content-map .main .content .info-wrap .info .data .header {
  display: block;
  font-size: 0.77em;
  color: #808080;
  letter-spacing: 1px;
  margin-top: 10px;
}
.content-map .main .content .info-wrap .info .data .provider {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  display: block;
}
.content-map .main .content .info-wrap .info .data .results-section {
  display: none;
}
.content-map .main .content .info-wrap .info .data .results-section .country-counter:before,
.content-map .main .content .info-wrap .info .data .results-section .country-counter:after {
  content: " ";
  display: table;
}
.content-map .main .content .info-wrap .info .data .results-section .country-counter:after {
  clear: both;
}
.content-map .main .content .info-wrap .info .data .results-section .country-counter .item {
  float: left;
  width: 50%;
}
.content-map .main .content .info-wrap .info .data .results-section .providers {
  margin-top: 10px;
  clear: both;
}
.content-map .main .content .info-wrap .info .data .provider-list {
  border-bottom: 1px solid #f2f2f2;
  display: block;
  padding: 8px 0 15px 0;
}
.content-map .main .content .info-wrap .info .data .provider-list:last-child {
  border: 0px;
  padding-bottom: 0px;
}
.content-map .main .content .info-wrap .info .data .provider-list .box-link {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 0.78em;
  padding: 7px 10px 5px;
  margin-top: 5px;
  color: #8cc63f;
  border-color: #8cc63f;
}
.content-map .main .content .info-wrap .info .data .provider-list .box-link:active {
  color: #fff;
  background: #8cc63f;
  border-color: #8cc63f;
}
.content-map .main .content .info-wrap .info .search-link {
  margin: 0;
  padding: 0;
}
.content-map .main .content .info-wrap .info .search-link li {
  border-top: 1px solid #f2f2f2;
  list-style: none;
}
.content-map .main .content .info-wrap .info .search-link li a {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  text-align: center;
  width: 100%;
  padding: 20px;
  color: #808080;
  display: block;
}
.content-map .main .content .info-wrap .info .search-link li a:hover {
  color: #8cc63f;
}
.content-map .main .content .info-wrap .info.affix {
  top: 75px;
}
.content-map .main .content .maps {
  padding-left: 0px;
  padding-right: 0px;
  width: 567.5px;
  float: left;
  overflow: auto;
}
.content-map .main .content .maps .alert {
  display: none;
}
.content-map .main .content .maps img {
  width: 100%;
}
.content-map .main .content .maps .jqvmap-zoomin,
.content-map .main .content .maps .jqvmap-zoomout {
  display: none;
  background: rgba(140, 198, 63, 0.6);
  color: #fff;
  border-radius: 3px;
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  line-height: 20px;
  padding: 5px 10px 5px 10px;
}
.content-map .main .content .maps .jqvmap-zoomin:hover,
.content-map .main .content .maps .jqvmap-zoomout:hover {
  background: rgba(140, 198, 63, 0.8);
}
.content-map .main .content .maps .jqvmap-zoomout {
  top: 45px !important;
}
.content-map .main .map-notification {
  color: #8cc63f;
}
