// Import generic variables & mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/

// every page starts with .page class selector
// for body element styling, go to generic/all.css
.content-map {
	
	// main
	.main {
		
		// content
		.content {
			margin-top:6px;
			margin-left: -21px;
			margin-right: -21px;

			.clearfix;
			
			// left
			.info-wrap {
				width: 187.5px;
				float: left;
				min-height: 200px;

				// info
				.info {
					width: 187.5px;
					border-right: 6px solid @body-bg;
					border-left: 6px solid @body-bg;
					background: #fff;
					padding-left: 0px;
					padding-right: 0px;
					
					// data
					.data {
						padding: 20px;
						
						// h1
						h1 {
							color: @euscreen-green;
							font-size: 1.286em;
							margin-top:0px;
							margin-bottom: 20px;
						}
						
						// texts
						.counter {
							font-size: 1.714em;
							font-family: @font-family-monospace;
							display: block;
							margin-top:-5px;
						}
						
						// header
						.header {
							.sectionHeading();
							margin-top:10px;
						}
						
						// provider
						.provider {
							font-family: @font-family-monospace;
							display: block;
						}
						
						// results-section
						.results-section {
							display: none;

							.country-counter {
								.clearfix;
								.item {
									float: left;
									width: 50%;
								}
							}
							.providers {
								margin-top:10px;
								clear: both;
							}
						}
						
						// list
						.provider-list {
							border-bottom: 1px solid #f2f2f2;
							display: block;
							padding: 8px 0 15px 0;
							
							&:last-child {
								border:0px;
								padding-bottom: 0px;
							}
							.box-link {
								font-family: @font-family-base;
								font-size: 0.78em;
								padding: 7px 10px 5px;
								margin-top:5px;
								color: @euscreen-green;
								border-color: @euscreen-green;
								
								&:active {
									color: #fff;
									background: @euscreen-green;
									border-color: @euscreen-green;
								}
							}
						}
					}
					
					// search link
					.search-link {
						margin: 0; padding: 0;
						
						// list
						li {
							border-top:1px solid @body-bg;
							list-style: none;
							
							// anchor
							a {
								font-family: @font-family-monospace;
								text-align: center;
								width: 100%;
								padding: 20px;
								color: @euscreen-gray;
								display: block;
								
								&:hover {
									color: @euscreen-green;
								}
							}
						}
					}

					// affix
					&.affix {
						top:75px;
					}
				}
			}
			
			// maps
			.maps {
				padding-left: 0px;
				padding-right: 0px;
				width: 567.5px;
				float: left;
				overflow: auto;
				
				// alert
				.alert {
					display: none;
				}

				// img
				img {
					width: 100%;
				}
				
				// maps
				.jqvmap-zoomin, .jqvmap-zoomout {
					display: none;
					background: rgba(140, 198, 63, 0.6);
					color: #fff;
					border-radius: 3px;
					height: auto;
					width: auto;
					font-size: 20px;
					font-weight: bold;
					.transition(background 0.3s);
					line-height: 20px;
					padding: 5px 10px 5px 10px;

					&:hover {
						background: rgba(140, 198, 63, 0.8);
					}
				}
				.jqvmap-zoomout {
					top: 45px !important;
				}	
			}
		}

		// row
		.map-notification {

			color: @euscreen-green;
		}
	}
}