@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic);
/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
.contact .jumbotron-wide {
  background: url('../../img/content/bg-terms.jpg');
}
.contact .main {
  padding-top: 0px !important;
}
.contact .main .static-page {
  background: #fff;
}
.contact .main .static-page:before,
.contact .main .static-page:after {
  content: " ";
  display: table;
}
.contact .main .static-page:after {
  clear: both;
}
.contact .main .static-page .sidebar {
  width: 200px;
  float: left;
  min-height: 200px;
}
.contact .main .static-page .sidebar ul {
  width: 200px;
  margin: 0;
  padding: 45px 0 0 0;
  text-align: right;
}
.contact .main .static-page .sidebar ul.affix {
  top: 80px;
}
.contact .main .static-page .sidebar ul li {
  list-style: none;
}
.contact .main .static-page .sidebar ul li a {
  color: #000;
  font-size: 1em;
  letter-spacing: 1px;
  display: block;
  text-align: right;
  width: 85%;
  padding: 12px 30px 10px 30px;
  float: right;
  margin-bottom: 1px;
}
.contact .main .static-page .sidebar ul li a:hover {
  background: #f5f5f5;
}
.contact .main .static-page .sidebar ul li.active a {
  background: #f5f5f5;
}
.contact .main .static-page .content {
  width: 100%;
  border-left: 1px solid #e5e5e5;
  float: left;
  overflow: auto;
}
.contact .main .static-page .content .pads {
  padding: 20px;
}
.contact .main .static-page .content .pads h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.6em;
}
.contact .main .static-page .content .pads p {
  line-height: 1.8em;
  color: #777;
}
.contact .main .static-page .content .pads h2 {
  margin-bottom: 20px;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #000;
  font-size: 1.143em;
}
.contact .main .static-page .content .pads h3 {
  margin-bottom: 20px;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
  color: #000;
  font-size: 1.02em;
}
.contact .main .static-page .content .pads a {
  color: #000;
  border-bottom: 1px dotted #000;
}
.contact .main .static-page .content .pads .box-link {
  border: 0px;
  border: 1px solid #cccccc;
  color: #aeaeae;
  font-size: 0.857em;
  margin-top: 30px;
}
.contact .main .static-page .content .pads .box-link:hover {
  border-color: #00aeef;
  color: #00aeef;
}
