// Import generic variables
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "../bootstrap/font-awesome.min.css";

/**
* all.less
*
* This file contains the generic styles which are to be applied on all devices for EUScreenXLPagePrototypes.
* Certain device may override these styles in their own stylesheet.
*/

// anchor settings, bootstrap already adds some stuff by default
// remove unnecessary styling
a {
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

// general styling for input
input {
	font-family: @font-family-base;
}

// quick styling for colors
.colorblack { color: @euscreen-black; }
.colorgray { color: @euscreen-gray; }
.colorred { color: @euscreen-red; }

// 
.nomargin { margin:0; }

// main style
html {
	position: relative;
	min-height: 100%;
}

// body
body {

	// height set to 100% to pushes the footer
	height: 100%;
	
	// main page
	.page {
		
		// header
		header {
		
			// navbar
			.navbar {
				background: @euscreen-white;
				border-bottom: 1px solid @body-bg;
				height: 70px;
			
				// nav
				ul {
					li {
						
						// general nav style
						a {
							font-size: 1.071em;
							font-family: @font-family-monospace;
							color: @euscreen-gray;
							padding: 25px 30px 0px 30px;
							border-right: 1px solid @border-color;
							height: 70px;
							
							// on hover
							&:hover {
								background: none;
								color:@euscreen-blue;
							}
						}
						
						// first element
						&:first-child {
							a {
								border-left: 1px solid @border-color;
							}
						}
						
						// last child (myeuscreen)
						// show blue button instead
						&:last-child {
							padding:17px 0 0 30px;
							
							a {
								padding: 7px 26px 8px 26px;
								background-color: @euscreen-blue;
								height: auto;
								color: @euscreen-white;
								border-radius: 3px;
								border-right: none;
								.transition(background-color 0.2s ease-out);
								
								&:hover {
									.transition(background-color 0.3s ease-out);
									background-color: darken(@euscreen-blue, 8%);
								}
							}
						}
					}
				}
				
				// the header section
				.navbar-header {
					font-family: @font-family-monospace;
					height: 70px;
					text-align: center;
					
					// reset the default gutter
					// bootstrap added 15px padding on the left of container
					margin-left: -15px;
					
					// the logo
					a.navbar-brand {
						.center-block();
						
						.text-hide();
						width: 172px;
						height: 53px;
						background: url(@sprites-path) -321px 0;
						margin:8px auto ;
						float: none;
						
						 /*
						font-size: 1.571em;
						height: 70px;
						color: @euscreen-blue;
						padding-top:23px;
						font-weight: 600;
						float: none;
						*/
					}
					
					// menu icon, shown on mobile, hidden on wide screens
					.menuicon {
						
						// the button
						button {
							.btn-eumenu();
							font-size: 1.5em;
							color: @gray;
						}
					}
					
					// menu icon, shown on mobile, hidden on wide screens
					.searchicon {
						
						// the button
						button {
							.btn-eumenu();
							font-size: 1.5em;
							color: @gray;
						}
					}
					
					// form, hidden by default.
					// will be shown if triggered by JS by adding .searchOpened class to .navbar-header
					// the JS is currently on (js/[page-name].js)
					.navbar-form {
						padding: 8px 0 0 0;
						margin:0;
						height: 70px;
						width: 70%;
						float: left;
						border-left: 1px solid @border-color;
						display: none;

						// form group
						.form-group {
							margin: 0 0 0 20px;
							width: 100%;
							
							// input text
							input[type="text"] {
								.placeholderItalic(#d2d2d2,italic);
								.inputStyling(54px; 100%; 1.286em ; inherit; 0px; 0px; 0px; none);
								background: rgba(255, 255, 254, 0.6); // weird webkit behaviour when on focus, the background turns grey. this is the workaround
							}
							
							// magnifying icon
							.glyphicon-search {
								color: @euscreen-blue;
								font-size: 1.2em;
								margin: 16px 20px 0 0;
								display: none;
								float: left;
							}
						}
						
						// hide for EUscreenXL, search action will be done from enter key event
						button {
							display: none;
						}
					}
					
					// when the search is opened by clicking the magnifying icon, JS will append this class
					// and remove it when it deactivates
					// JS currently on (js/[page-name].js)
					&.searchOpened {
						
						// makes the form visible
						.navbar-form {
							display: inline-block;
						}
						
						// and hide the brand
						a.navbar-brand {
							display: none;
						}
					}
				}
			}
		}
		
		// main
		.main {
		
			// add space to accomodate the fixed navbar, add 1px space betwen main and navbar (default/mobile)
			// it will be extended to 6px on wide screens, so set padding 75px on wide screens
			padding-top: 70px;
			padding-bottom: 6px; // default bottom space is 6px (mobile) 
			
			// ads
			.ads {
				.advertising();
			}
			
			// media item
			.media-item {
				
				// metadata
				.media-metadata {
					color:@gray-dark;
					
					// title header
					a h3.media-heading {
						font-size: 1.33em;
						line-height: 1.3em;
						font-weight: normal;
						margin: -5px 0 9px 0;
						color: @gray-dark;
						.transition(color 0.35s);
						font-family: @font-family-monospace;
					}
					
					// separator between media metadata
					.line {
						display: block;
						margin: 0 0 2px 0;
						font-size: 1.071em;
						.label {
							color: @euscreen-gray;
							font-weight: normal;
							padding-left: 0px;
							font-size: 1.071em;
						}
					}
				}
				
				// thumbnails
				.media-wrapper {
					position: relative;
					
					// media
					.media-object {
						width: 100%;
					}
					
					// type
					.media-length {
						position: absolute;
						bottom: 10px;
						left: 10px;
						border-radius: 3px;
						border:1px solid @euscreen-white;
						color: @euscreen-white;
						padding: 1px 6px 1px 6px;
						line-height: 1.48em;
						font-size: 0.857em;
						background: rgba(0, 0, 0, 0.1);
						font-family: @font-family-monospace;
						z-index: 7;
					}

					// title
					.media-title {
						.clearfix;
						position: absolute;
						bottom: 20px;
						left: 20px;
						right: 20px;
						z-index: 7;
						opacity: 0;
						.transition(opacity 0.35s);

						h3 {
							color: @euscreen-white;
							font-size: 1em;
							font-family: @font-family-monospace;
							margin: 15px 0 0 0;
							width: 100%;
						}
					}

					// media type
					.media-type {
						.medias();
						bottom: 14px;
						right: 10px;
						z-index: 7;
					}
					
					// hue
					.media-hue {
						background: @euscreen-rgba-green-60;
						position: absolute;
						z-index: 2;
						top:0;
						left: 0;
						width: 100%;
						height: 100%;
						color: @euscreen-white;
						text-align: center;
						font-size: 1.8em;
						opacity: 0;
						.transition(opacity 0.35s);
						
						// align vertically
						i {
							display: block;
							top:50%;
							left: 50%;
							margin: -15px 0 0 -12px;
							position: absolute;
						}
					}
				}
				
				// hover
				&:hover {
					// turn on the hue
					.media-wrapper {
						.media-hue {
							opacity: 1;
						}

						.media-title {
							opacity: 1;
						}
					}
					
					// media metadata
					.media-metadata {
						a h3.media-heading {
							color: darken(@euscreen-green, 10%);
						}
					}
				}
			}

			// media action
			// icon at the bottom of the media player
			.media-action {
				.clearfix;
				
				background: @euscreen-white;
				padding-right: 0px;
				
				// the content of the overlay
				// at the bottom of the icon
				// hide by default, being shown by js (item.js)
				.overlaycontent {
					.clearfix;	
					font-size: 1.143em;
					width: 300px; // set width (less than 320)
					right: 0px;
					z-index: 2;
					background: rgba(255,255,255,0.95); // transparency
					border-top:5px solid @euscreen-blue;
					padding: 20px;
					box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
					display: none; // hide by default
					position: absolute;

					// header style
					h3 {
						font-family: @font-family-monospace;
						color: @euscreen-blue;
						font-size: 1.286em;
						margin: 0 0 15px 0;
					}

					// share icons
					ul li {
						padding:0px;
						.fa-lg {
							font-size: 1.4em;
						}
					}

					// small text below the login button
					.extra {
						font-size: 1.071em;
						display: inline-block;
						margin: 10px 0 0 0;
						color: @euscreen-gray;
						a {
							color: inherit;
						}
					}

					// bookmark's login
					.login {
						input[type="text"], input[type="password"] {
							.placeholderItalic(#d2d2d2,italic);
							margin-bottom: 5px;
							border-radius: 0px;
							padding: 10px;
							height: auto;
							font-size:1.071em; 
							background: rgba(255, 255, 254, 0.6);
						}
					}

					// list-group
					.list-group .plus-sign {
						margin-top:5px;
					}

					// button
					.btn-euscreen {
						margin-top:6px;
					}
				}

				// ul
				// default style is absolute, will switch to inherit on wide screens
				.button-list {
					margin: 0;
					padding: 0;
					position: absolute;
					right:0;
					top:0;
					z-index: 5;
					
					// lists
					> li {
						border-left: 1px solid @border-color;
						border-bottom: 1px solid @border-color;
						margin-left: -4px;
						padding:0px;
						position: relative;

						// anchor elements
						button {
							padding-top:5px;
							height: 60px;
							width: 60px;
							display: block; 
							border: 0px;
							border-radius: 0px;
							box-shadow: none;
							background: @euscreen-white;
							.transition(background 0.35s);
							
							// on hover
							&:hover, &:active, &.active {
								background: @euscreen-blue;
								
								// flip to white icons
								i.icono-copyright {
									background-position: -253px -43px;
								}
								i.icono-share {
									background-position: -277px -43px;
								}
								i.icono-bookmark {
									background-position: -298px -43px;
								}
								i.icono-info {
									background-position: -24px -106px;
								}
								i.icono-expand {
									background-position: 0px -106px;
								}
							}
						}
					}
				}
			}
		}
		
		// footer
		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: @euscreen-footer-height; // fix height of the footer
			background-color: @euscreen-white;
			
			// remove bootstrap gutter padding to get the correct styling
			[class*='col-'] {
				padding-left: 0px;
				padding-right: 0px;
			}
					
			// links
			.links {
				display: block;
				padding: 70px 0 0 0;
			  
				.list-inline {
					margin-bottom: 10px;
					
				  	li {
				  		margin: 0 10px 0 0;
				  		a {
				  			color: #787878;
				  		}
				  	}
				}
			}
			
			// affiliates logo at the bottom
			.affiliates {
				text-align: right;
				padding-top:50px;
				
				// logo
				.list-inline {
					
					// general
					li {
						margin-left: 10px;
					}
					
					// european comission
					.europeancomission {
						.grayscale();
						.opacity(0.7);
						background: url(@sprites-path);
						width: 117px;
						height: 82px;
						display: inline-block;
					}
					
					// europeana
					.europeana {
						.grayscale();
						.opacity(0.7);
						background: url(@sprites-path) -117px 0;
						width: 136px;
						height: 80px;
						display: inline-block;
					}
				}
			}
		  
			// note
			.footer-note {
			  	color: #787878;
			}
		}
	}
	
	// mobile navigation
	.mobilenav {
		position: fixed;
		overflow-y: auto;
		width: @euscreen-mobile-navigation-width; // width can be set in variables.less
		height: 100%;
		top:0;
		left: -@euscreen-mobile-navigation-width; // hide it for now
		background: @euscreen-panel-gray;
		
		// main
		.main, .secondary, .info {
			margin-bottom: 0px;
			color: #a6abab;
			padding: 30px 30px 20px 30px;
			border-bottom: 1px solid #464646;
			
			// default
			li {
				list-style: none;
				margin: 0 0 10px 0;
				.clearfix;
				
				// nav
				a {
					color: inherit;
					font-size: 1.429em;
				}
				
				// active
				&.active {
					a {
						color: @euscreen-white;
					}
				}	
			}
		}
		
		// secondary
		.secondary {
			li {
				a {
					font-size: 1em;
				}
			}
		}
		
		// info
		.info {
			border-bottom: 0px;
			display: block;
		}
	}
	
	// iconography addition for euscreenxl
	i, span, div {
		
		// icon
		&.icono {
			background-image: url(@sprites-path);
			display: inline-block;
		}
		
		// copyright
		&.icono-copyright {
			background-position: -253px -16px;
			width: 24px; height: 27px;
		}
		
		// add bookmark
		&.icono-bookmark {
			background-position: -298px -16px;
			width: 23px; height: 27px;
		}
		
		// share
		&.icono-share {
			background-position: -277px -16px;
			width: 21px; height: 27px;
		}
		
		// share
		&.icono-info {
			background-position: -24px -82px;
			width: 24px; height: 24px;
		}
		
		// share
		&.icono-expand {
			background-position: 0px -82px;
			width: 24px; height: 24px;
		}
	}

	// more
	.more {
		.moreButton();
		border-top:0px;
		
		// button
		#hide-extra-filters {
			display: none;
		}
	}
	
	// select wrapper
	// custom selectbox styling to be consistent on all platforms
	.select-wrap {
		width: 100%;
		background: @euscreen-green;
		overflow: hidden;
		position: relative;
		
		// caret
		i {
			position: absolute;
			right: 0px;
			top:0px;
			color: @euscreen-white;
			font-size: 1em;
		}
		
		// the actual select
		// the width is set bigger than the wrapper to remove the default dropdown caret
		select {
			background: transparent;
			padding: 5px;
			font-size: 1em;
			border: 0px;
			border-radius: 0px;
			font-family: @font-family-monospace;
			-webkit-appearance:none; -moz-appearance: none; appearance: none;
			width: 105%;
			color: @euscreen-white;
			
			// option to be white background with green texts
			option {
				background: @euscreen-white;
				color: @euscreen-green;
			}
		}
	}

	// general list-group styling for the whole site
	// we overwrite bootstrap design
	.list-group {
		margin-bottom: 0px;
		border-radius: 0px;
		box-shadow: none;

		// item
		a {
			&.list-group-item {
				&.active {
					border-color: @euscreen-blue;
					background-image: none;
					text-shadow: none;
					&:hover {

					}
				}
				&:first-child, &:last-child {
					border-radius: 0px;
				}
			}
		}
	}
	
	// media player
	.media-player {
	
		// this is to set the correct aspect ratio in player
		// select 16:9 or 4:3
		&.aspect-ratio {
			position: relative;
			height: 0;
			
			// player
			.player, embed, object, video {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background: #000;
			}
			
			// 16:9 ratio, apply this class to aspect-ratio selector in HTML to give 16:9 aspect ratio
			&.wide { padding-bottom:56.25%; }
			
			// 4:3 ratio, apply this class to aspect-ratio selector in HTML to give 4:3 aspect ratio
			&.normal { padding-bottom:75%; }
		}
	}
	
	// modal
	.modal {
		
	}
	
	// style for slidePanelJS plugin
	.slided {
		left: 0px;
		top:0px;
		overflow: hidden;
		width: 100%;
	}
	
	// browsehappy
	.browsehappy {
		position: fixed;
		text-align: center;
		width: auto;
		top:80px;
		left: 10px; right: 10px;
		z-index: 10;
	}
}

// Import responsive variables (temporary, until js is fix)
@import "../bootstrap/responsive-euscreen.less";