@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic);
@import "../bootstrap/font-awesome.min.css";
/**
* all.less
*
* This file contains the generic styles which are to be applied on all devices for EUScreenXLPagePrototypes.
* Certain device may override these styles in their own stylesheet.
*/
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
input {
  font-family: 'Proxima Nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.colorblack {
  color: #000000;
}
.colorgray {
  color: #808080;
}
.colorred {
  color: #ec008c;
}
.nomargin {
  margin: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
}
body .page header .navbar {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  height: 70px;
}
body .page header .navbar ul li a {
  font-size: 1.071em;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  color: #808080;
  padding: 25px 30px 0px 30px;
  border-right: 1px solid #f2f2f2;
  height: 70px;
  display: inline-block;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
body .page header .navbar ul li a:hover {
  background: none;
  color: #00aeef;
}
body .page header .navbar ul li:first-child a {
  border-left: 1px solid #f2f2f2;
}
body .page header .navbar ul li:last-child {
  padding: 17px 0 0 30px;
}
body .page header .navbar ul li:last-child a {
  padding: 7px 26px 8px 26px;
  background-color: #00aeef;
  height: auto;
  color: #ffffff;
  border-radius: 3px;
  border-right: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
body .page header .navbar ul li:last-child a:hover {
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  background-color: #0090c6;
}
body .page header .navbar ul li.active a {
  color: #00aeef;
}
body .page header .navbar .navbar-header {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  height: 70px;
  text-align: center;
  margin-left: -15px;
}
body .page header .navbar .navbar-header a.navbar-brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  width: 172px;
  height: 53px;
  background: url("../../img/sprites.png") -321px 0;
  margin: 8px auto ;
  float: none;
  /*
						font-size: 1.571em;
						height: 70px;
						color: @euscreen-blue;
						padding-top:23px;
						font-weight: 600;
						float: none;
						*/
}
body .page header .navbar .navbar-header .menuicon button {
  height: 70px;
  border-radius: 0px;
  background: none;
  width: 70px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  line-height: normal;
  font-size: 1.5em;
  color: #555555;
}
body .page header .navbar .navbar-header .menuicon button:active,
body .page header .navbar .navbar-header .menuicon button.active {
  background: #00aeef;
  box-shadow: none;
  color: #fff;
  border-left: 1px solid #00aeef;
  border-right: 1px solid #00aeef;
}
body .page header .navbar .navbar-header .searchicon button {
  height: 70px;
  border-radius: 0px;
  background: none;
  width: 70px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  line-height: normal;
  font-size: 1.5em;
  color: #555555;
}
body .page header .navbar .navbar-header .searchicon button:active,
body .page header .navbar .navbar-header .searchicon button.active {
  background: #00aeef;
  box-shadow: none;
  color: #fff;
  border-left: 1px solid #00aeef;
  border-right: 1px solid #00aeef;
}
body .page header .navbar .navbar-header .navbar-form {
  padding: 8px 0 0 0;
  margin: 0;
  height: 70px;
  width: 70%;
  float: left;
  border-left: 1px solid #f2f2f2;
  display: none;
}
body .page header .navbar .navbar-header .navbar-form .form-group {
  margin: 0 0 0 20px;
  width: 100%;
}
body .page header .navbar .navbar-header .navbar-form .form-group input[type="text"] {
  height: 54px;
  width: 100%;
  padding: 0px;
  font-size: 1.286em;
  line-height: inherit;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  background: rgba(255, 255, 254, 0.6);
}
body .page header .navbar .navbar-header .navbar-form .form-group input[type="text"]::-moz-placeholder {
  color: #d2d2d2;
  font-style: italic;
  opacity: 1;
}
body .page header .navbar .navbar-header .navbar-form .form-group input[type="text"]:-ms-input-placeholder {
  color: #d2d2d2;
  font-style: italic;
}
body .page header .navbar .navbar-header .navbar-form .form-group input[type="text"]::-webkit-input-placeholder {
  color: #d2d2d2;
  font-style: italic;
}
selectbody .page header .navbar .navbar-header .navbar-form .form-group input[type="text"] {
  height: 54px;
  line-height: 54px;
}
textareabody .page header .navbar .navbar-header .navbar-form .form-group input[type="text"] {
  height: auto;
}
body .page header .navbar .navbar-header .navbar-form .form-group .glyphicon-search {
  color: #00aeef;
  font-size: 1.2em;
  margin: 16px 20px 0 0;
  display: none;
  float: left;
}
body .page header .navbar .navbar-header .navbar-form button {
  display: none;
}
body .page header .navbar .navbar-header.searchOpened .navbar-form {
  display: inline-block;
}
body .page header .navbar .navbar-header.searchOpened a.navbar-brand {
  display: none;
}
body .page .main {
  padding-top: 70px;
  padding-bottom: 6px;
}
body .page .main.no-top-padding {
  padding-top: 0px;
}
body .page .main .ads {
  position: relative;
}
body .page .main .ads .wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(140, 198, 63, 0.6);
  transition: background 0.35s ease-out;
}
body .page .main .ads .wrap .text {
  background: rgba(0, 174, 239, 0.6);
  display: block;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  font-size: 1.214em;
  color: #ffffff;
  width: 92%;
  padding: 20px;
  bottom: 20px;
  position: absolute;
  border-left: 6px solid #00aeef;
  transition: background 0.35s ease-out;
}
body .page .main .ads .wrap:hover {
  background: rgba(0, 174, 239, 0.6);
}
body .page .main .ads .wrap:hover .text {
  background: rgba(140, 198, 63, 0.6);
  border-left: 6px solid #8cc63f;
}
body .page .main .ads img {
  width: 100%;
}
body .page .main .media-item .media-metadata {
  color: #333333;
}
body .page .main .media-item .media-metadata a h3.media-heading {
  font-size: 1.33em;
  line-height: 1.3em;
  font-weight: normal;
  margin: -5px 0 9px 0;
  color: #333333;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
}
body .page .main .media-item .media-metadata .line {
  display: block;
  margin: 0 0 2px 0;
  font-size: 1.071em;
}
body .page .main .media-item .media-metadata .line .label {
  color: #808080;
  font-weight: normal;
  padding-left: 0px;
  font-size: 1.071em;
}
body .page .main .media-item .media-wrapper {
  position: relative;
}
body .page .main .media-item .media-wrapper .media-object {
  width: 100%;
}
body .page .main .media-item .media-wrapper .media-length {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 1px 6px 1px 6px;
  line-height: 1.48em;
  font-size: 0.857em;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  z-index: 7;
}
body .page .main .media-item .media-wrapper .media-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 7;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
body .page .main .media-item .media-wrapper .media-title:before,
body .page .main .media-item .media-wrapper .media-title:after {
  content: " ";
  display: table;
}
body .page .main .media-item .media-wrapper .media-title:after {
  clear: both;
}
body .page .main .media-item .media-wrapper .media-title h3 {
  color: #ffffff;
  font-size: 1em;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  margin: 15px 0 0 0;
  width: 100%;
}
body .page .main .media-item .media-wrapper .media-type {
  background: url("../../img/sprites.png");
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 14px;
  right: 10px;
  z-index: 7;
}
body .page .main .media-item .media-wrapper .media-type.video {
  width: 18px;
  height: 14px;
  background-position: -253px 0;
}
body .page .main .media-item .media-wrapper .media-type.audio {
  width: 18px;
  height: 15px;
  background-position: -286px 0;
}
body .page .main .media-item .media-wrapper .media-type.text {
  width: 16px;
  height: 16px;
  background-position: -304px 0;
}
body .page .main .media-item .media-wrapper .media-type.image {
  width: 15px;
  height: 14px;
  background-position: -271px 0;
}
body .page .main .media-item .media-wrapper .media-hue {
  background: rgba(140, 198, 63, 0.6);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 1.8em;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
body .page .main .media-item .media-wrapper .media-hue i {
  display: block;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -12px;
  position: absolute;
}
body .page .main .media-item:hover .media-wrapper .media-hue {
  opacity: 1;
}
body .page .main .media-item:hover .media-wrapper .media-title {
  opacity: 1;
}
body .page .main .media-item:hover .media-metadata a h3.media-heading {
  color: #71a230;
}
body .page .main .media-action {
  background: #ffffff;
  padding-right: 0px;
}
body .page .main .media-action:before,
body .page .main .media-action:after {
  content: " ";
  display: table;
}
body .page .main .media-action:after {
  clear: both;
}
body .page .main .media-action .overlaycontent {
  font-size: 1.143em;
  width: 300px;
  right: 0px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  border-top: 5px solid #00aeef;
  padding: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
}
body .page .main .media-action .overlaycontent:before,
body .page .main .media-action .overlaycontent:after {
  content: " ";
  display: table;
}
body .page .main .media-action .overlaycontent:after {
  clear: both;
}
body .page .main .media-action .overlaycontent h3 {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  color: #00aeef;
  font-size: 1.286em;
  margin: 0 0 15px 0;
}
body .page .main .media-action .overlaycontent ul li {
  padding: 0px;
}
body .page .main .media-action .overlaycontent ul li .fa-lg {
  font-size: 1.4em;
}
body .page .main .media-action .overlaycontent .extra {
  font-size: 1.071em;
  display: inline-block;
  margin: 10px 0 0 0;
  color: #808080;
}
body .page .main .media-action .overlaycontent .extra a {
  color: inherit;
}
body .page .main .media-action .overlaycontent .login input[type="text"],
body .page .main .media-action .overlaycontent .login input[type="password"] {
  margin-bottom: 5px;
  border-radius: 0px;
  padding: 10px;
  height: auto;
  font-size: 1.071em;
  background: rgba(255, 255, 254, 0.6);
}
body .page .main .media-action .overlaycontent .login input[type="text"]::-moz-placeholder,
body .page .main .media-action .overlaycontent .login input[type="password"]::-moz-placeholder {
  color: #d2d2d2;
  font-style: italic;
  opacity: 1;
}
body .page .main .media-action .overlaycontent .login input[type="text"]:-ms-input-placeholder,
body .page .main .media-action .overlaycontent .login input[type="password"]:-ms-input-placeholder {
  color: #d2d2d2;
  font-style: italic;
}
body .page .main .media-action .overlaycontent .login input[type="text"]::-webkit-input-placeholder,
body .page .main .media-action .overlaycontent .login input[type="password"]::-webkit-input-placeholder {
  color: #d2d2d2;
  font-style: italic;
}
body .page .main .media-action .overlaycontent .list-group .plus-sign {
  margin-top: 5px;
}
body .page .main .media-action .overlaycontent .btn-euscreen {
  margin-top: 6px;
}
body .page .main .media-action .button-list {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
body .page .main .media-action .button-list > li {
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-left: -4px;
  padding: 0px;
  position: relative;
}
body .page .main .media-action .button-list > li button {
  padding-top: 5px;
  height: 60px;
  width: 60px;
  display: block;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  background: #ffffff;
  -webkit-transition: background 0.35s;
  transition: background 0.35s;
}
body .page .main .media-action .button-list > li button:hover,
body .page .main .media-action .button-list > li button:active,
body .page .main .media-action .button-list > li button.active {
  background: #00aeef;
}
body .page .main .media-action .button-list > li button:hover i.icono-copyright,
body .page .main .media-action .button-list > li button:active i.icono-copyright,
body .page .main .media-action .button-list > li button.active i.icono-copyright {
  background-position: -253px -43px;
}
body .page .main .media-action .button-list > li button:hover i.icono-share,
body .page .main .media-action .button-list > li button:active i.icono-share,
body .page .main .media-action .button-list > li button.active i.icono-share {
  background-position: -277px -43px;
}
body .page .main .media-action .button-list > li button:hover i.icono-bookmark,
body .page .main .media-action .button-list > li button:active i.icono-bookmark,
body .page .main .media-action .button-list > li button.active i.icono-bookmark {
  background-position: -298px -43px;
}
body .page .main .media-action .button-list > li button:hover i.icono-info,
body .page .main .media-action .button-list > li button:active i.icono-info,
body .page .main .media-action .button-list > li button.active i.icono-info {
  background-position: -24px -106px;
}
body .page .main .media-action .button-list > li button:hover i.icono-expand,
body .page .main .media-action .button-list > li button:active i.icono-expand,
body .page .main .media-action .button-list > li button.active i.icono-expand {
  background-position: 0px -106px;
}
body .page .main .jumbotron-small {
  background-size: cover;
  height: 168px;
  text-align: center;
}
body .page .main .jumbotron-small .hue {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: left;
  overflow: auto;
  position: relative;
}
body .page .main .jumbotron-small .hue .pads {
  position: absolute;
  top: 50%;
  margin-top: -52px;
  left: 50px;
}
body .page .main .jumbotron-small .hue .pads h1 {
  margin: 0px 0px 3px 0px;
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
  display: table;
}
body .page .main .jumbotron-small .hue .pads p {
  width: 80%;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  padding: 10px 15px 13px 15px;
}
body .page .main .jumbotron-small.map {
  background: url('../../img/bg-about.gif') no-repeat;
}
body .page .main .jumbotron-small.map .hue .pads h1,
body .page .main .jumbotron-small.map .hue .pads p {
  background: rgba(140, 198, 63, 0.7);
}
body .page .main .jumbotron-small.map .hue .pads p {
  width: 80%;
}
body .page .main .jumbotron-small.provider {
  background: url('../../img/bg-about.gif') no-repeat;
}
body .page .main .jumbotron-small.provider .hue .pads h1,
body .page .main .jumbotron-small.provider .hue .pads p {
  background: rgba(0, 174, 239, 0.7);
}
body .page .main .jumbotron-small.provider .hue .pads p {
  width: 80%;
}
body .page .main .jumbotron-small.selection {
  background: url('../../img/bg-about.gif') no-repeat;
}
body .page .main .jumbotron-small.selection .hue .pads h1,
body .page .main .jumbotron-small.selection .hue .pads p {
  background: rgba(220, 109, 147, 0.7);
}
body .page .main .jumbotron-small.selection .hue .pads p {
  width: 80%;
}
body .page .jumbotron-wide {
  margin-top: 70px;
  width: 100%;
}
body .page footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 183px;
  background-color: #ffffff;
  display: none;
}
body .page footer [class*='col-'] {
  padding-left: 0px;
  padding-right: 0px;
}
body .page footer .links {
  display: block;
  padding: 70px 0 0 0;
}
body .page footer .links .list-inline {
  margin-bottom: 10px;
}
body .page footer .links .list-inline li {
  margin: 0 10px 0 0;
}
body .page footer .links .list-inline li a {
  color: #787878;
}
body .page footer .affiliates {
  text-align: right;
  padding-top: 50px;
}
body .page footer .affiliates .list-inline li {
  margin-left: 10px;
}
body .page footer .affiliates .list-inline .europeancomission {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .35s ease;
  /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */
  -moz-transition: all .35s ease;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: url("../../img/sprites.png");
  width: 117px;
  height: 82px;
  display: inline-block;
}
body .page footer .affiliates .list-inline .europeancomission:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 100;
  filter: alpha(opacity=10000);
}
body .page footer .affiliates .list-inline .europeana {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .35s ease;
  /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */
  -moz-transition: all .35s ease;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: url("../../img/sprites.png") -117px 0;
  width: 136px;
  height: 80px;
  display: inline-block;
}
body .page footer .affiliates .list-inline .europeana:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 100;
  filter: alpha(opacity=10000);
}
body .page footer .footer-note {
  color: #787878;
}
body .mobilenav {
  position: fixed;
  overflow-y: auto;
  width: 250px;
  height: 100%;
  top: 0;
  left: -250px;
  background: #343434;
}
body .mobilenav .main,
body .mobilenav .secondary,
body .mobilenav .info {
  margin-bottom: 0px;
  color: #a6abab;
  padding: 30px 30px 20px 30px;
  border-bottom: 1px solid #464646;
}
body .mobilenav .main li,
body .mobilenav .secondary li,
body .mobilenav .info li {
  list-style: none;
  margin: 0 0 10px 0;
}
body .mobilenav .main li:before,
body .mobilenav .secondary li:before,
body .mobilenav .info li:before,
body .mobilenav .main li:after,
body .mobilenav .secondary li:after,
body .mobilenav .info li:after {
  content: " ";
  display: table;
}
body .mobilenav .main li:after,
body .mobilenav .secondary li:after,
body .mobilenav .info li:after {
  clear: both;
}
body .mobilenav .main li a,
body .mobilenav .secondary li a,
body .mobilenav .info li a {
  color: inherit;
  font-size: 1.429em;
}
body .mobilenav .main li.active a,
body .mobilenav .secondary li.active a,
body .mobilenav .info li.active a {
  color: #ffffff;
}
body .mobilenav .secondary li a {
  font-size: 1em;
}
body .mobilenav .info {
  border-bottom: 0px;
  display: block;
}
body i.icono,
body span.icono,
body div.icono {
  background-image: url("../../img/sprites.png");
  display: inline-block;
}
body i.icono-copyright,
body span.icono-copyright,
body div.icono-copyright {
  background-position: -253px -16px;
  width: 24px;
  height: 27px;
}
body i.icono-bookmark,
body span.icono-bookmark,
body div.icono-bookmark {
  background-position: -298px -16px;
  width: 23px;
  height: 27px;
}
body i.icono-share,
body span.icono-share,
body div.icono-share {
  background-position: -277px -16px;
  width: 21px;
  height: 27px;
}
body i.icono-info,
body span.icono-info,
body div.icono-info {
  background-position: -24px -82px;
  width: 24px;
  height: 24px;
}
body i.icono-expand,
body span.icono-expand,
body div.icono-expand {
  background-position: 0px -82px;
  width: 24px;
  height: 24px;
}
body i.icono-remove,
body span.icono-remove,
body div.icono-remove {
  background-position: -72px -106px;
  width: 24px;
  height: 24px;
}
body .more {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  padding: 23px 0 23px 0;
  background: #fff;
  border-top: 0px;
}
body .more a {
  color: #808080;
}
body .more a:hover {
  color: #00aeef;
}
body .more #hide-extra-filters {
  display: none;
}
body .select-wrap {
  width: 100%;
  background: #8cc63f;
  overflow: hidden;
  position: relative;
}
body .select-wrap i {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #ffffff;
  font-size: 1em;
}
body .select-wrap select {
  background: transparent;
  padding: 5px;
  font-size: 1em;
  border: 0px;
  border-radius: 0px;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 105%;
  color: #ffffff;
}
body .select-wrap select option {
  background: #ffffff;
  color: #8cc63f;
}
body .list-group {
  margin-bottom: 0px;
  border-radius: 0px;
  box-shadow: none;
}
body .list-group a.list-group-item.active {
  border-color: #00aeef;
  background-image: none;
  text-shadow: none;
}
body .list-group a.list-group-item:first-child,
body .list-group a.list-group-item:last-child {
  border-radius: 0px;
}
body .media-player.aspect-ratio {
  position: relative;
  height: 0;
}
body .media-player.aspect-ratio .player,
body .media-player.aspect-ratio embed,
body .media-player.aspect-ratio object,
body .media-player.aspect-ratio video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
}
body .media-player.aspect-ratio.wide {
  padding-bottom: 56.25%;
}
body .media-player.aspect-ratio.normal {
  padding-bottom: 75%;
}
body .modal .close {
  opacity: 1;
  filter: alpha(opacity=100);
  margin: 20px 20px 0 0;
}
body .modal .modal-dialog .modal-content {
  background: none;
  box-shadow: none;
  border: 0px;
}
body .modal .modal-dialog .modal-content .modal-header {
  border-bottom: 0px;
  padding: 50px 0 15px 0;
}
body .modal .modal-dialog .modal-content .modal-header h4 {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  color: #ffffff;
}
body .modal .modal-dialog .modal-content .modal-header .item-anchor {
  margin-top: 5px;
}
body .modal .modal-dialog .modal-content .modal-header .item-anchor a {
  color: #fff;
}
body .modal .modal-dialog .modal-content .modal-header .item-anchor a .fa-external-link {
  margin: 5px 0 0 10px;
  float: right;
}
body .modal .modal-dialog .modal-content .modal-header .item-anchor a:hover {
  color: #00aeef;
}
body .modal .modal-dialog .modal-content .modal-body {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
body .slided {
  left: 0px;
  top: 0px;
  overflow: hidden;
  width: 100%;
}
body .browsehappy {
  position: fixed;
  text-align: center;
  width: auto;
  top: 80px;
  left: 10px;
  right: 10px;
  z-index: 10;
}
body .spinner {
  text-align: center;
  padding: 20px;
}
/**
* responsive.less
*
* This file contains the the specific stylesheets for different devices
* Try to reuse a lot of built-in bootstrap's utilities for responsiveness (http://getbootstrap.com/css/#grid & http://getbootstrap.com/css/#responsive-utilities)
* NOTE: it's only temporary, since euscreenxl is using JS to ingest specific stylesheets for different devices
* It is imported in generic/all.less
*/
/* Extra small devices (mobiles, 480px and up) */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body .page .main {
    padding-top: 75px;
  }
  body .page .main .left .row .searchbar {
    display: block;
    border-bottom: 0px;
    position: inherit;
    z-index: auto;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  body .page .main .left .row .searchbar input[type="text"] {
    font-size: 1.071em;
    margin-left: 0px;
  }
  body .page .main .left .row .selectedfilter {
    border-left: 0px;
    border-right: 0px;
    margin: 1px 0 0 0;
    padding-top: 0px;
  }
  body .page .main .left .row .selectedfilter .header {
    display: block;
  }
  body .page .main .left .row .selectedfilter .tags .tag {
    margin: 0 5px 4px 0;
  }
  body .page .main .left .row .selectedfilter .tags .tag li {
    font-size: 0.786em;
    padding: 3px 10px 1px 10px;
  }
  body .page .main .left .row .filters {
    background: #ffffff;
    margin: 1px 0 6px 0;
    width: 100%;
    position: inherit;
    top: auto;
    left: auto;
    z-index: auto;
    padding: 0px;
    display: block;
    border-bottom: 0px;
  }
  body .page .main .left .row .filters .header {
    padding-left: 25px;
  }
  body .page .main .left .row .filters .accordion .more {
    display: block;
  }
  body .page .main .left .row .filters .accordion .filter {
    border-left: 0px;
    border-right: 0px;
    background: none;
  }
  body .page .main .left.optionOpened .row .mediaselector {
    display: none;
  }
  body .page .main .right {
    border-right: 0px;
  }
  body .page .main .right .row.results-media .mediatab {
    display: block;
    width: 494px;
  }
  body .page .main .right .row.results-action {
    padding-top: 65px;
  }
  body .page .main .right .row.results-action .counter {
    font-size: 0.929em;
    margin: 6px 0 0 0;
  }
  body .page .main .right .row .results .media-item .media-metadata h3.media-heading,
  body .page .main .right .row .media-relate .media-item .media-metadata h3.media-heading {
    font-size: 1.286em;
  }
  body .page .main .right .row .results .media-item .media-metadata .line,
  body .page .main .right .row .media-relate .media-item .media-metadata .line {
    margin: 0 0 0 0;
    font-size: 0.929em;
  }
  body .page .main .right .row .results .media-item .media-metadata .line .label,
  body .page .main .right .row .media-relate .media-item .media-metadata .line .label {
    font-size: 0.929em;
  }
  body .item .main .row .right {
    border-left: 0px;
    border-right: 0px;
  }
  body .item .main .row .right .row .sectiontab .nav li a {
    font-size: 1.071em;
  }
  body .item .main .row .left .row .media-action,
  body .item .main .row .left .row .media-metadata,
  body .item .main .row .left .row .more-less {
    border-left: 0px;
    border-right: 0px;
  }
  body .item .main .row .left .row .media-action .button-list {
    position: inherit;
    top: auto;
    right: auto;
    height: 60px;
  }
  body .item .main .row .left .row .media-action .button-list > li {
    display: inline-block;
    border-bottom: 0px;
  }
  body .item .main .row .left .row .media-metadata {
    margin: 1px 0 0 0;
  }
  body .home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption {
    top: 30%;
  }
  body .home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption h1 {
    font-size: 2.286em;
  }
  body .home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption p {
    font-size: 1.143em;
    width: 87%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body .page .main .right .row.results-media .mediatab {
    width: 641px;
  }
  body .page .main .right .row .results .media-item .media-metadata h3.media-heading {
    margin-bottom: 8px;
  }
  body .page .main .right .row .results .media-item .media-metadata .line {
    font-size: 1em;
    margin-bottom: 2px;
  }
  body .page .main .right .row .results .media-item .media-metadata .line .label {
    font-size: 1em;
  }
  body .page footer .affiliates .list-inline li {
    margin-left: 30px;
  }
  body .item .main .row .left .row .media-action .overlaycontent {
    font-size: 1em;
  }
  body .item .main .row .left .row .media-action .overlaycontent .extra {
    font-size: 0.929em;
  }
  body .item .main .row .left .row .media-metadata {
    font-size: 1em;
  }
  body .item .main .row .right {
    margin-top: 0px;
    border-left: 6px solid #f2f2f2;
  }
  body .item .main .row .right .row .sectiontab {
    display: none;
  }
  body .item .main .row .right .row .section-content {
    margin-top: 0px;
  }
  body .item .main .row .right .row .section-content .discover-more {
    font-size: 1em;
  }
  body .search header .navbar .container .navbar-header .navbar-form {
    display: none;
  }
  body .home .main .row .collection-viewer-tab .row.main-nav .media-action .overlaycontent {
    font-size: 1em;
  }
  body .home .main .row .collection-viewer-tab .row.main-nav .media-action .overlaycontent .extra {
    font-size: 0.929em;
  }
  body .home .main .row .collection-viewer-tab .row.second-nav .list-inline li {
    margin-right: 10px;
  }
  body .home .main .row .collection-viewer-tab .row.second-nav .list-inline li a {
    font-size: 1em;
  }
  body .home .main .row .collection-viewer .row .media-item .media-wrapper .media-title h3 {
    font-size: 1.1em;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1025px) {
  body {
    margin-bottom: 183px;
  }
  body .page .main {
    padding-bottom: 50px;
  }
  body .page header .navbar .container .navbar-header {
    width: 60%;
  }
  body .page header .navbar .container .navbar-header .menuicon,
  body .page header .navbar .container .navbar-header .searchicon {
    display: none;
  }
  body .page header .navbar .container .navbar-header a.navbar-brand {
    margin-right: 30px;
    margin-left: -15px;
    float: left;
  }
  body .page header .navbar .container .navbar-header .navbar-form {
    border-right: 1px solid #f2f2f2;
    width: auto;
    display: inline-block;
  }
  body .page header .navbar .container .navbar-header .navbar-form input[type="text"] {
    font-size: 1.071em;
  }
  body .page header .navbar .container .navbar-header .navbar-form .form-group {
    margin-left: 30px;
    width: auto;
  }
  body .page header .navbar .container .navbar-header .navbar-form .form-group .glyphicon-search {
    display: inline-block;
  }
  body .page header .navbar .container .navbar-header .navbar-form .form-group input[type="text"] {
    width: 280px;
  }
  body .page header .navbar .container .navbar-header.searchOpened a.navbar-brand {
    display: block;
  }
  body .page footer {
    display: block;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body .home .main .row .collection-viewer .row .media-item .media-wrapper .media-title h3 {
    font-size: 1.2em;
  }
  body .home .main .row .collection-viewer .row .media-item .media-wrapper .media-hue i {
    margin: -30px 0 0 -20px;
    font-size: 1.5em;
  }
  body .home .main .row .collection-viewer .row .media-item.media-big .media-wrapper .media-title h3 {
    font-size: 1.4em;
  }
  body .home .main .row .collection-viewer .row .media-item.media-big .media-wrapper .media-hue i {
    margin: -30px 0 0 -20px;
    font-size: 2.2em;
  }
  body .page .main .right .row.results-media .mediatab {
    width: 774px;
  }
}
