/**
* generic.less
*
* This file contains the generic styles which are to be applied on all devices for EUScreenXLPagePrototypes.
* Certain device may override these styles in their own stylesheet.
*/
.euscr-popup {
    display: none;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

ul.no-break {
    margin: 0 0;
    list-style: none;
}

ul.no-break li {
    display: inline-block;
}

.page {
    max-width: 768px;
    width: 100%;
    height: auto;
}

.page header nav ul {
    list-style: none;
}

.page main .label {
    margin: 0 5px 0 0;
    color: dodgerblue;
}
