/**
* css/generic/desktop.less
*
* This file contains the generic rules for desktop and laptop devices, these rules should be applied for all pages on
* desktop and laptop devices. However, rules may be overwritten in page specific cases.
*/
.mobile {
    display: none;
}

.page.desktop {
    max-width: 768px;
    margin: 0 auto;
    overflow: hidden;
}

.page.desktop footer .affiliates .affiliate-icon {
    width: 50px;
    height: 40px;
    background-color: rosybrown;
    float: left;
    margin: 0 5px 0 0;
}
