/**
* css/generic/mobile.less
*
* This file contains the generic rules for mobile devices, these rules should be applied for all pages on
* mobile devices. However, rules may be overwritten in page specific cases.
*/

/* various hacks */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, textarea:focus, input:focus {
    font-size: 16px;
    background: #eee;
  }
}

.page.mobile {

}