/**
* css/generic/tablet.less
*
* This file contains the generic rules for tablet devices, these rules should be applied for all pages on
* tablet devices. However, rules may be overwritten in page specific cases.
*/
.page.tablet {
    width: 100%;
    max-width: none;
}

.page.tablet .mobile {
    display: block;
}

header {
    height: 60px;
    background-color: tomato;
}

header h1 {
    overflow: hidden;
    width: 200px;
    top: 0;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -100px;
    height: 100%;
    text-align: center;
}

header h1 img {
    display: none;
    height: 100%;
    margin: 0 auto;
}

header nav {
    position: absolute;
    width: 100%;
    left: -100%;
}

header .search {
    position: absolute;
    width: 100%;
    right: -100%;
}

header button {
    width: 60px;
    height: 60px;
}

header .options-button {
    float: left;
    display: block;
}

header .search-button {
    float: right;
    display: block;
}
