@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic);
/**
* all.less
*
* This file contains the search results styles which are to be applied on all devices specifically for search results page.
* Certain device may override these styles in their own stylesheet.
*/
.search .main .left .row [class*='col-'] {
  padding-left: 0px;
  padding-right: 0px;
}
.search .main .left .row .header {
  display: block;
  font-size: 0.77em;
  color: #808080;
  letter-spacing: 1px;
  padding: 25px 25px 10px 25px;
  color: #8cc63f;
}
.search .main .left .row .searchbar {
  background: #ffffff;
  height: 65px;
  border-bottom: 5px solid #00aeef;
  position: relative;
  width: 100%;
}
.search .main .left .row .searchbar input[type="text"] {
  height: 100%;
  width: 70%;
  padding: inherit;
  font-size: 1.5em;
  line-height: inherit;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  margin-left: 23px;
  background: rgba(255, 255, 254, 0.6);
}
.search .main .left .row .searchbar input[type="text"]::-moz-placeholder {
  color: #d2d2d2;
  font-style: italic;
  opacity: 1;
}
.search .main .left .row .searchbar input[type="text"]:-ms-input-placeholder {
  color: #d2d2d2;
  font-style: italic;
}
.search .main .left .row .searchbar input[type="text"]::-webkit-input-placeholder {
  color: #d2d2d2;
  font-style: italic;
}
select.search .main .left .row .searchbar input[type="text"] {
  height: 100%;
  line-height: 100%;
}
textarea.search .main .left .row .searchbar input[type="text"] {
  height: auto;
}
.search .main .left .row .searchbar .glyphicon-search {
  color: #00aeef;
  font-size: 1.3em;
  margin: 21px 15px 0 25px;
  float: left;
}
.search .main .left .row .searchbar .optionbutton {
  height: 70px;
  border-radius: 0px;
  background: none;
  width: 70px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  line-height: normal;
  float: right;
  margin-top: -60px;
  border-right: 0px;
  font-size: 1.5em;
  color: #555555;
  height: 60px;
}
.search .main .left .row .searchbar .optionbutton:active,
.search .main .left .row .searchbar .optionbutton.active {
  background: #00aeef;
  box-shadow: none;
  color: #fff;
  border-left: 1px solid #00aeef;
  border-right: 1px solid #00aeef;
}
.search .main .left .row .selectedfilter {
  background: #ffffff;
  margin: 6px 0 0 0;
  border-left: 6px solid #f2f2f2;
  border-right: 6px solid #f2f2f2;
  width: 100%;
  padding-top: 25px;
}
.search .main .left .row .selectedfilter .tags {
  padding: 0 25px 25px 25px;
}
.search .main .left .row .selectedfilter .tags .tag {
  display: inline-block;
  margin: 0 6px 5px 0;
}
.search .main .left .row .selectedfilter .tags .tag li {
  display: inline-block;
  padding: 2px 10px 1px 10px;
  font-size: 1em;
  color: #ffffff;
  margin-right: -4px;
}
.search .main .left .row .selectedfilter .tags .tag .title {
  background: #8cc63f;
}
.search .main .left .row .selectedfilter .tags .tag .content {
  background: #a8d46d;
  padding-right: 5px;
}
.search .main .left .row .selectedfilter .tags .tag .action {
  background: #a8d46d;
}
.search .main .left .row .selectedfilter .tags .tag .action a {
  color: #ffffff;
}
.search .main .left .row .filters,
.search .main .left .row .mediaselector {
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  display: none;
  left: 0;
  top: 178px;
  z-index: 8;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 5px solid #00aeef;
}
.search .main .left .row .filters .header,
.search .main .left .row .mediaselector .header {
  padding-left: 0px;
}
.search .main .left .row .filters .accordion .filter,
.search .main .left .row .mediaselector .accordion .filter {
  border-top: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  background: #ffffff;
  margin-top: -1px;
}
.search .main .left .row .filters .accordion .filter .filtercontent,
.search .main .left .row .mediaselector .accordion .filter .filtercontent {
  border-bottom: 1px solid #f2f2f2;
}
.search .main .left .row .filters .accordion .filter .filtercontent .listing,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing {
  margin: 0;
  padding: 0;
}
.search .main .left .row .filters .accordion .filter .filtercontent .listing li,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing li {
  list-style: none;
}
.search .main .left .row .filters .accordion .filter .filtercontent .listing li:before,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing li:before,
.search .main .left .row .filters .accordion .filter .filtercontent .listing li:after,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing li:after {
  content: " ";
  display: table;
}
.search .main .left .row .filters .accordion .filter .filtercontent .listing li:after,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing li:after {
  clear: both;
}
.search .main .left .row .filters .accordion .filter .filtercontent .listing li a,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing li a {
  padding: 9px 0 9px 25px;
  display: block;
  width: 70%;
  float: left;
  color: #808080;
}
.search .main .left .row .filters .accordion .filter .filtercontent .listing li:hover,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing li:hover {
  background: #a8d46d;
  color: #fff;
}
.search .main .left .row .filters .accordion .filter .filtercontent .listing li:hover a,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing li:hover a {
  color: #ffffff;
}
.search .main .left .row .filters .accordion .filter .filtercontent .listing li:hover .badge,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing li:hover .badge {
  color: #a8d46d;
  background: #ffffff;
}
.search .main .left .row .filters .accordion .filter .filtercontent .listing li .badge,
.search .main .left .row .mediaselector .accordion .filter .filtercontent .listing li .badge {
  border-radius: 0px;
  width: 40px;
  text-align: center;
  box-shadow: none;
  background: #a8d46d;
  padding: 4px 0px 3px;
  margin: 10px 25px 0 0;
}
.search .main .left .row .filters .accordion a.name,
.search .main .left .row .mediaselector .accordion a.name {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  display: block;
  cursor: pointer;
  font-size: 1.071em;
  padding: 20px 25px 18px 25px;
  color: #555555;
}
.search .main .left .row .filters .accordion .more,
.search .main .left .row .mediaselector .accordion .more {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  padding: 23px 0 23px 0;
  background: #fff;
  display: none;
  border-top: 0px;
}
.search .main .left .row .filters .accordion .more a,
.search .main .left .row .mediaselector .accordion .more a {
  color: #808080;
}
.search .main .left .row .filters .accordion .more a:hover,
.search .main .left .row .mediaselector .accordion .more a:hover {
  color: #00aeef;
}
.search .main .left .row .filters .accordion .more #hide-extra-filters,
.search .main .left .row .mediaselector .accordion .more #hide-extra-filters {
  display: none;
}
.search .main .left .row .filters .accordion .done button.btn-euscreen,
.search .main .left .row .mediaselector .accordion .done button.btn-euscreen {
  width: 100%;
  font-size: 1.2em;
  padding: 15px;
  margin: 30px 0 0 0;
}
.search .main .left .row .mediaselector {
  top: 65px;
  padding-bottom: 0px;
  border-bottom: 0px;
}
.search .main .left .row .mediaselector .select-wrap i {
  right: 20px;
  top: 22px;
  font-size: 1.2em;
}
.search .main .left .row .mediaselector .select-wrap select {
  padding: 18px;
  font-size: 1.2em;
}
.search .main .left.optionOpened .row .filters,
.search .main .left.optionOpened .row .mediaselector {
  display: block;
}
.search .main .right {
  border-left: 6px solid #f2f2f2;
  border-right: 6px solid #f2f2f2;
}
.search .main .right .row.results-media .mediatab {
  padding-left: 0px;
  padding-right: 0px;
  background: #ffffff;
  border-bottom: 5px solid #00aeef;
  display: none;
  position: fixed;
  z-index: 20;
}
.search .main .right .row.results-media .mediatab .nav {
  margin-top: 0px;
  border: 0px;
}
.search .main .right .row.results-media .mediatab .nav li {
  margin: 0px;
  border-right: 1px solid #f2f2f2;
}
.search .main .right .row.results-media .mediatab .nav li a {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  border: 0px;
  border-radius: 0px;
  margin: 0px;
  height: 60px;
  line-height: inherit;
  font-size: 1.071em;
  color: #808080;
  padding: 20px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.search .main .right .row.results-media .mediatab .nav li a:hover {
  background: #00aeef;
  border-radius: 0px;
  color: #ffffff;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
}
.search .main .right .row.results-media .mediatab .nav li.active {
  border-right: 1px solid #00aeef;
}
.search .main .right .row.results-media .mediatab .nav li.active a {
  background: #00aeef;
  border-radius: 0px;
  color: #ffffff;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
}
.search .main .right .row.results-action .counter {
  background: #fff;
  font-size: 1.28em;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  color: #808080;
  margin: 1px 0 0 0;
  padding: 20px;
}
.search .main .right .row.results-action .counter:before,
.search .main .right .row.results-action .counter:after {
  content: " ";
  display: table;
}
.search .main .right .row.results-action .counter:after {
  clear: both;
}
.search .main .right .row.results-action .counter .pull-left .number {
  color: #00aeef;
  font-weight: bold;
}
.search .main .right .row.results-action .counter .pull-right .dropdown {
  display: inline-block;
}
.search .main .right .row.results-action .counter .pull-right .dropdown ul.dropdown-menu {
  margin-top: 0px;
  margin-bottom: 0px;
  background: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  padding: 1px 1px 0px 1px;
  font-size: 1em;
}
.search .main .right .row.results-action .counter .pull-right .dropdown ul.dropdown-menu > .active > a,
.search .main .right .row.results-action .counter .pull-right .dropdown ul.dropdown-menu > .active > a:hover,
.search .main .right .row.results-action .counter .pull-right .dropdown ul.dropdown-menu > .active > a:active {
  background-image: none;
}
.search .main .right .row.results-action .counter .pull-right .dropdown ul.dropdown-menu a {
  color: #808080;
  margin-bottom: 1px;
}
.search .main .right .row.results-action .counter .pull-right .dropdown ul.dropdown-menu a:hover {
  background-image: none;
  color: #ffffff;
}
.search .main .right .row.results-action .counter .pull-right .sortOption {
  display: inline-block;
  margin: 0 0 0 10px;
}
.search .main .right .row .results {
  background: #fff;
  margin: 1px 0 0 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.search .main .right .row .results .spinner {
  padding-bottom: 0px;
}
.search .main .right .row .results .no-results {
  text-align: center;
  font-size: 0.929em;
  letter-spacing: 1px;
  font-weight: lighter;
  padding: 23px 0 0 0;
  color: #00aeef;
}
.search .main .right .row .results .media-item {
  padding-top: 20px;
  padding-bottom: 10px;
}
.search .main .right .row .results .media-item .media-metadata {
  padding-left: 5px;
}
.search .main .right .row .more {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  padding: 23px 0 23px 0;
  background: #fff;
}
.search .main .right .row .more a {
  color: #808080;
}
.search .main .right .row .more a:hover {
  color: #00aeef;
}
