// Import generic variables & mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

/**
* all.less
*
* This file contains the search results styles which are to be applied on all devices specifically for search results page.
* Certain device may override these styles in their own stylesheet.
*/

// every page starts with .page class selector
// for body element styling, go to generic/all.css
.search {
	
	// main
	.main {
		
		// search results
		&.search-results {
			padding-top:70px;
		}
		
		// left side (sidebars)
		.left { 
			-webkit-overflow-scrolling: touch;
			
			// rows
			.row {
				
				// remove column padding
				.removeColumnPadding();
				
				// small header of the filters
				.header {
					.sectionHeading();
					padding: 25px 25px 10px 25px;
					color: @euscreen-green;
				}
				
				// searchbar
				.searchbar {
					background: @euscreen-white;
					height: 65px;
					border-bottom: 5px solid @euscreen-blue;
					position: relative;
					width: 100%;
					
					// form input
					input[type="text"] {
						.placeholderItalic(#d2d2d2,italic);
						.inputStyling(100%; 70%; 1.5em ; inherit; 0px; 0px ; inherit; none);
						margin-left: 23px;
						background: rgba(255, 255, 254, 0.6); // weird webkit behaviour when on focus, the background turns grey. this is the workaround
					}
					
					// search icon, hide on mobile, shown on wide screens by setting hidden-xs class
					.glyphicon-search {
						color: @euscreen-blue;
						font-size: 1.3em;
						margin: 21px 15px 0 25px; 
						float: left;
					}
					
					// option button, only shown on mobile by setting visible-xs class
					.optionbutton {
						.btn-eumenu();
						float: right;
						margin-top:-60px;
						border-right: 0px;
						font-size: 1.5em;
						color: @gray;
						height: 60px;
					}
				}
				
				// selected filter
				// add border left and right to create gutter space on mobile
				// remove it on wide screens (bootstrap/responsive-euscreen.less)
				.selectedfilter {
					background: @euscreen-white;
					margin: 6px 0 0 0;
					border-left: 6px solid @body-bg;
					border-right: 6px solid @body-bg;
					width: 100%;
					
					// loading
					&.loading {
						.tags {
							display: none;
						}
						.spinner {
							display: block;
						}
					}
					
					// spinner
					.spinner {
						display: none;
						padding-top:0px;
					}
					
					// overwrite header for this section only
					.header {
						display: table !important;
						float: left;
						padding-right: 10px;
					}
					
					// action
					.clear {
						float: right;	
						display: block;
						margin: 21px 20px 0 0;
						
						a {
							color: #a3a3a3;
							font-size: 0.68em;
							letter-spacing: 1px;
							border:1px solid;
							border-color:  #a3a3a3;
							border-radius: 2px;
							padding: 2px 3px 1px 3px;
							.transition-two(color, 0.35s, border-color, 0.35s);
							&:hover {
								color: @euscreen-green;
								border-color: @euscreen-green;
							}
						}
					}
					
					// tags
					.tags {
						padding: 0 25px 25px 25px;
						clear: both;
						
						// tag
						.tag {
							display: inline-block;
							margin: 0 6px 5px 0;
							
							li {
								display: inline-block;
								padding: 2px 10px 1px 10px;
								font-size: 1em;
								color: @euscreen-white;
								margin-right: -4px; // remove space between inline-block
							}
							.title {
								background: @euscreen-green;
							}
							.content {
								background: @euscreen-lightgreen;
								padding-right: 5px;
							}
							.action {
								background: @euscreen-lightgreen;
								
								a {
									color: @euscreen-white;
								}
							}
						}
					}
				}
				
				// filters and media selector wrap
				// it's will act as an overlay so set transparant and absolute position 
				// hide on default, activated by adding .optionOpened class to #sidebar via JS (js/search-results.js)
				.filters, .mediaselector {
					background: rgba(255,255,255,0.95); 
					position: absolute;
					display: none; 
					left: 0;
					top:178px;
					z-index: 8;
					padding-left: 25px;
					padding-right: 25px;
					padding-bottom: 25px;
					width: 100%;
					border-bottom: 5px solid @euscreen-blue; // set border to give end marking to the overlay
					
					// header
					.header {
						padding-left: 0px;
					}
					
					// accordion
					.accordion {
						
						// filter
						.filter {
							border-top: 1px solid @border-color;
							border-left: 1px solid @border-color;
							border-right: 1px solid @border-color;
							background: rgba(255,255,255,1);
							margin-top: -1px;
							
							// inactive
							&.inactive {
								a {
									color: @gray-light;
									cursor: not-allowed;
									.glyphicon {
										display: none;
									}
								}
							}
							
							// the wrapper of the filter
							.filtercontent {
							
								// give the border to distinguish with other filter
								// when it is opened
								border-bottom: 1px solid @border-color;
								
								// listing filter item
								.listing {
									margin:0; 
									padding: 0;
									
									// default
									li {
										list-style: none;
										.clearfix;
											
										a {
											padding: 9px 0 9px 25px;
											display: block;
											width: 70%;
											float: left;
											color: @euscreen-gray;
										}
										
										/* active
										&:active {
											background: @euscreen-lightgreen;
											color: #fff;
											a {
												color: @euscreen-white;
											}
											.badge {
												color: @euscreen-lightgreen;
												background: @euscreen-white;
											}
										}*/
										
										/* hover
										&:hover {
											background: @euscreen-lightgreen;
											color: #fff;
											a {
												color: @euscreen-white;
											}
											.badge {
												color: @euscreen-lightgreen;
												background: @euscreen-white;
											}
										}*/
										&:first-child {
											
										}
										
										// counter
										.badge {
											border-radius: 0px;
											width: 40px;
											text-align: center;
											box-shadow: none;
											background: @euscreen-lightgreen;
											padding: 4px 0px 3px;
											margin:10px 25px 0 0;	
										}
									}
								}
							}
						}
						
						// header
						a.name {
							font-family: @font-family-monospace;
							border-bottom:1px solid @border-color;
							width: 100%;
							display: block;
							cursor: pointer;
							font-size: 1.071em;
							padding: 20px 25px 18px 25px;
							color: @gray;
						}
						
						// more
						.more {
							.moreButton();
							display: none;
							border-top:0px;
							
							// button
							#hide-extra-filters {
								display: none;
							}
						}	
						
						// done
						.done {
							button.btn-euscreen {
								width: 100%;
								font-size: 1.2em;
								padding: 15px;
								margin: 30px 0 0 0;
							}
						}
					}
				}
				
				// mediaselector, only shows on mobile
				.mediaselector {
					top:65px;
					padding-bottom: 0px;
					border-bottom: 0px;
					
					// select wrapper, the styling can be found on generic/all.less
					// here we just adapt them with search results requirement
					.select-wrap {
						
						// caret
						i {
							right: 20px;
							top:22px;
							font-size: 1.2em;
						}
						
						// the actual select
						select {
							padding: 18px;
							font-size: 1.2em;
						}
					}
				}
			}
			
			// when optionOpened class is added to #sidebar via JS
			// on js/search-results.js
			&.optionOpened {
				
				// take a look at each row
				.row {
					
					// find .filters and .mediaselector
					// and set show it
					.filters, .mediaselector {
						display: block;
					}
				}
			}
		}
		
		// results
		.right {
			
			// create spacing on the left side, has to be the same with the background color
			border-left: 6px solid @body-bg; 
			border-right: 6px solid @body-bg; 
			
			
			// wrap
			.row {
			
				// result
				&.results-media {
					
					//tab
					.mediatab {
						padding-left: 0px;
						padding-right: 0px;
						background: @euscreen-white;
						border-bottom: 5px solid @euscreen-blue;
						border-top:5px solid @body-bg;
						display: none;
						position: fixed;
						z-index: 20;
						
						// tab
						.nav {
							.navigation-tab();
						}
					}
				}
				
				// action
				&.results-action {
					
					// counter
					.counter {
						.clearfix;
						background: #fff;
						font-size: 1.1em;
						font-family: @font-family-monospace;
						color: @euscreen-gray;
						margin:1px 0 0 0;
						padding-right: 0px;
						padding-left: 0px;
						
						// left
						.pull-left {
							margin-top:17px;
							margin-left: 20px;
							
							.number {
								color: @euscreen-blue;
								font-weight: bold;
							}
						}
						
						// right
						.pull-right {
							
							// wrap
							.wrap-dropdown {
								float:right;
								height: 60px;
								border-left: 1px solid @body-bg;
								padding: 17px 10px 0px 10px;
								
								// dropdown
								.dropdown {
									
									a {
										padding: 5px 0px 5px 15px;
									}
								}
							}
							
							
							// sort option
							.sort-option {
								float:right;
								
								a {
									width: 50px;
									height: 60px;
									display: inline-block;
									border-left: 1px solid @body-bg;
									text-align: center;
									padding-top: 15px;
									font-size: 1.2em;
									.transition(background 0.3s);
									
									&:hover, &:active {
										background: @euscreen-blue;
										color: #fff;
									}
								}
							}
						}
					}
				}
				
				// results
				.results {
					background: #fff;
					margin: 1px 0 0 0;
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 20px;
					
					// spinner
					.spinner {
						padding-bottom: 0px;
					}
					
					// no results
					.no-results {
						text-align: center;
						font-size: 0.929em;
						letter-spacing: 1px;
						padding: 23px 0 0 0;
						color: @euscreen-blue;
					}
					
					// media item
					.media-item {
						padding-top:20px;
						padding-bottom: 10px;
						
						// media image
						.media-image {
							padding-right: 0px;
						}

						// metadata
						.media-metadata {
							a {
								h3.media-heading {
									font-size: 1.2em;
								}
							}
						}
					}
				}
				
				// more
				.more {
					.moreButton();
				}
			}
		}
	}	
}