.active-filters {
    margin-bottom: 15px;
}

.active-filters .badge.filter {
    margin: 5px;
}

.basic-filters {
    margin-top: 5px;
}

#filter-accordion .extra-option {
    display: none;
}

#hide-extra-filters {
    display: none;
}
