// Import generic variables & mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/

// every page starts with .page class selector
// for body element styling, go to generic/all.css
.content-map {
	
	// jumbotron wide
	.jumbotron-small {
		background-size: cover;
		height: 200px;
		text-align: center;
		
		.hue {
			display: block;
			width: 100%;
			height: 100%;
			color: #fff;
			text-align: left;
			overflow: auto;
			position: relative;
			
			.pads {
				position: absolute;
				top:50%;
				margin-top:-35px;
				left: 50px;
			}
			h1 {
				margin: 0px 0px 5px 0px;	
				text-transform: uppercase;
			}	
			p {
				width: 80%;
				font-family: @font-family-monospace;
				font-size: 1.071em;
			}
		}
		
		&.map {
			background: url('../../img/bg-about.gif') no-repeat;
			border-bottom: 5px solid @euscreen-red;
			.hue {
				
				background:rgba(220, 109, 147, 0.5);
					
			}
		}
		
	}
	
	
}