@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic);
/**
* css/home/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
body .home .main {
  padding-bottom: 0px;
}
.home .main .row .jumbotron {
  border-radius: 0px;
  height: 418px;
  padding: 0px;
  margin-bottom: 0px;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg {
  width: 100%;
  height: 418px;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 250px #000;
  overflow: hidden;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption {
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0;
  z-index: 0;
  text-align: left;
  position: relative;
  height: 100%;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption h1,
.home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption p {
  font-size: 1.4em;
  padding: 11px 20px 15px 20px;
  margin-bottom: 0px;
  display: table;
  background: rgba(140, 198, 63, 0.7);
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  text-shadow: none;
  width: 95%;
  line-height: 1.4em;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption h1 {
  margin-top: 15px;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption p {
  font-size: 1.071em;
  margin-top: 5px;
  padding: 14px 20px 20px 20px;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption a.link {
  padding: 10px 30px 12px 30px;
  font-size: 1em;
  color: #ffffff;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  text-shadow: none;
  border: 1px solid #fff;
  position: absolute;
  bottom: 58px;
  right: 5%;
  left: 5%;
  text-align: center;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg .wrap .carousel-caption a.small {
  font-size: 1em;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg-1 {
  background: url('../../img/content/banners/bg-homepage-euscreen.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg-2 {
  background: url('../../img/content/banners/bg-homepage-collection.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg-3 {
  background: url('../../img/content/banners/bg-homepage-blog.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg-4 {
  background: url('../../img/content/banners/bg-homepage-myeuscreen.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home .main .row .jumbotron .carousel .carousel-inner .item .bg-5 {
  background: url('../../img/content/banners/bg-homepage-map.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home .main .row .jumbotron .carousel .carousel-control {
  width: 6%;
}
.home .main .row .jumbotron .carousel .carousel-indicators {
  bottom: 10px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.home .main .row .jumbotron .carousel .carousel-indicators li.active {
  margin: 1px;
  width: 10px;
  height: 10px;
}
.home .main .row .collection-viewer-tab {
  margin-top: 6px;
}
.home .main .row .collection-viewer-tab .row [class*='col-'] {
  padding-left: 0px;
  padding-right: 0px;
}
.home .main .row .collection-viewer-tab .row.main-nav {
  background-color: #ffffff;
}
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav {
  margin-top: 0px;
  border: 0px;
}
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav li {
  margin: 0px;
  border-right: 1px solid #f2f2f2;
}
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav li a {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  border: 0px;
  border-radius: 0px;
  margin: 0px;
  height: 60px;
  line-height: inherit;
  font-size: 1.071em;
  color: #808080;
  padding: 20px 18px 20px 18px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav li a:hover {
  background: #00aeef;
  border-radius: 0px;
  color: #ffffff;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
}
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav li.active {
  border-right: 1px solid #00aeef;
}
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav li.active a {
  background: #00aeef;
  border-radius: 0px;
  color: #ffffff;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
}
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav li.inactive a {
  color: #cccccc;
}
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav li.inactive a:hover,
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav li.inactive a:visited,
.home .main .row .collection-viewer-tab .row.main-nav .tabs .nav li.inactive a:active {
  background: #fff;
  cursor: not-allowed;
}
.home .main .row .collection-viewer-tab .row.second-nav {
  background-color: #ffffff;
  border-bottom: 5px solid #00aeef;
  margin-top: 1px;
}
.home .main .row .collection-viewer-tab .row.second-nav .list-inline {
  padding: 13px 0px 2px 20px;
}
.home .main .row .collection-viewer-tab .row.second-nav .list-inline li {
  margin-right: 2px;
}
.home .main .row .collection-viewer-tab .row.second-nav .list-inline li a {
  color: #808080;
  font-size: 0.929em;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
}
.home .main .row .collection-viewer-tab .row.second-nav .list-inline li a:hover,
.home .main .row .collection-viewer-tab .row.second-nav .list-inline li a:active {
  color: #00aeef;
}
.home .main .row .collection-viewer-tab .row.second-nav .list-inline li.active a {
  color: #00aeef;
}
.home .main .row .collection-viewer-tab .row.second-nav .list-inline li:last-child {
  margin-right: 0px;
}
.home .main .row .collection-viewer {
  margin-top: 3px;
}
.home .main .row .collection-viewer .row [class*='col-'] {
  padding-left: 0px;
  padding-right: 0px;
}
.home .main .row .collection-viewer .row .media-item {
  padding: 2px;
}
.home .main .row .collection-viewer .row .media-item.media-big .media-image .media-wrapper .media-title h3 {
  font-size: 1.3em;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}
.home .main .row .collection-viewer .row .media-item.media-big .media-image .media-wrapper .media-hue i {
  margin: -22px 0 0 -15px;
  font-size: 1.7em;
}
.home .main .row .collection-viewer .row .media-item .media-image .media-wrapper a:hover .media-hue,
.home .main .row .collection-viewer .row .media-item .media-image .media-wrapper a:hover .media-title {
  opacity: 1;
  filter: alpha(opacity=100);
}
.home .main .row.row-collection-viewer {
  margin-left: -17px;
  margin-right: -17px;
}
.home .main .row .more {
  margin-top: 3px;
}
.fs {
  margin-bottom: 6px;
  overflow-x: hidden;
}
.fs .home header,
.fs .home footer {
  display: none;
}
.fs .home .main {
  padding-top: 0px;
  padding-bottom: 0px !important;
}
.fs .home .main .row .jumbotron {
  display: none;
}
.fs .home .main .row .collection-viewer-tab {
  margin-top: 0px;
}
.fs .home .main .row .collection-viewer-tab .main-nav .media-action .button-list li button .icono-expand {
  background-position: -48px -82px;
}
.fs .home .main .row .collection-viewer-tab .main-nav .media-action .button-list li button:hover .icono-expand,
.fs .home .main .row .collection-viewer-tab .main-nav .media-action .button-list li button:active .icono-expand,
.fs .home .main .row .collection-viewer-tab .main-nav .media-action .button-list li button.active .icono-expand {
  background-position: -48px -106px;
}
.fs .home .main .row .collection-viewer,
.fs .home .main .row .more {
  border-left: 6px solid #f2f2f2;
  border-right: 6px solid #f2f2f2;
}
