// Import generic variables & mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

/**
* css/home/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
// every page starts with .page class selector
// for body element styling, go to generic/all.css
.home {
	
	// main
	.main {
		
		// row
		.row {

			// jumbo
			.jumbotron {
				border-radius: 0px;
				height: 418px;
				padding: 0px;
				margin-bottom: 0px;

				// carousel
				.carousel {

					// inner
					.carousel-inner {

						// item
						.item {

							// bg 1
							.bg {
								background: url('../../img/content/bg-home-1.gif') no-repeat;
								width: 100%;
								height: 418px;

								// wrap
								.wrap {
									width: 100%;
									height: 100%;
									box-shadow: inset 0 0 250px #000;
									overflow: hidden;

									// carousel caption
									.carousel-caption {
										padding:0px;
										left: 5%;
										right: 5%;
										text-align: left;
										bottom: auto;
										top:auto;

										// style of header and text on jumbotron
										h1, p {
											font-size: 1.5em;
											padding: 11px 20px 15px 20px;
											margin-bottom: 0px;
											display: table;
											background: @euscreen-rgba-green-70; // the background
											font-family: @font-family-monospace;
											text-shadow: none;
										}
										p {
											font-size: 1.071em;
											margin-top:5px;
											padding: 14px 20px 20px 20px;
										}
										
										// link
										a.link {
											background: @euscreen-rgba-green-70;
											padding: 10px 30px 12px 30px;
											display: table;
											margin-top: 5px;
											font-size: 1.143em;
											color: @euscreen-white;
											font-family: @font-family-monospace;
											text-shadow: none;
										}
									}
								}
							}

							// set different background on each slide
							// one alternatives is to use image url
							.bg-1 {
								background: url('../../img/content/bg-home-1.gif') no-repeat;
								.background-size(cover);
							}
							.bg-2 {
								background: url('../../img/content/bg-home-2.gif') no-repeat;
								.background-size(cover);
							}
							.bg-3 {
								background: url('../../img/content/bg-home-3.gif') no-repeat;
								.background-size(cover);
							}
						}
					}

					// carousel control
					.carousel-control {
						width: 10%;
					}

					// carousel indicator
					.carousel-indicators {
						bottom: 10px;
						.opacity(0.5);

						// bullets
						li {
							&.active {
								margin: 1px;
								width: 10px;
								height: 10px;
							}
						}
					}
				}
			}

			// collection viewer tab
			.collection-viewer-tab {
				
				// set space to the jumbotron
				margin-top:6px;
				
				// row
				.row {
				
					// remove column padding inside row
					.removeColumnPadding();
					
					// main navigation
					&.main-nav {
						background-color: @euscreen-white;
						
						// tabs
						.tabs {
						
							// navigation tab
							// styling can be found on bootstrap/mixins.less
							.nav {
								.navigation-tab();
							}
						}
					}
					
					// themes
					&.second-nav {
						background-color: @euscreen-white;
						border-bottom: 5px solid @euscreen-blue;
						margin-top:1px;
						
						// list
						.list-inline {
							padding: 13px 0px 2px 20px;
							
							// the list
							li {
								margin-right: 2px;
								
								// anchor
								a {
									color: @euscreen-gray;
									font-size: 0.929em;
									font-family: @font-family-monospace;
									
									// on hover, should be the same with active
									&:hover, &:active {
										color: @euscreen-blue;
									}
								}
								
								// active links
								&.active {
									a {
										color: @euscreen-blue;
									}
								}
								
								// no right margin on the last item
								&:last-child {
									margin-right: 0px;
								}
							}
						}
					}
				}
			}

			// collection viewer styling
			.collection-viewer {
				
				// set spacing to the top
				margin-top:3px;

				// row
				.row {

					// remove column padding inside row
					.removeColumnPadding();
					
					// media item styling is on
					// generic/all.less and it is being used
					// throughout the sites, here we just adjust them for the collection viewer
					.media-item {

						// padding 2px to create some spaces between item
						padding: 2px;

						// add media-big class to make the icon and text bigger (assigned to media-image class selector)
						// the actual styling to make it bigger is using bootstrap's row and column
						&.media-big {
							
							// image
							.media-image {
								
								// elements wrapper
								.media-wrapper {

									// make title bigger
									.media-title {
										h3 {
											font-size: 1.3em;
										}
									}
	
									// make play icon bigger
									.media-hue {
										i {
											margin:-22px 0 0 -15px;
											font-size: 1.7em;
										}
									}
								}
							}
						}
					}
				}
			}
			
			// we make the row slighty wider (default is -15px) to accomodate
			// the 2px padding of each item
			&.row-collection-viewer {
				margin-left: -17px;
				margin-right: -17px;
			}

			// more button
			.more {
				margin-top:3px;
			}
		}
	}
}

// when fullscreen
// add this class to the body to adjust all elements
.fs {

	// add space to the top and hide horizontal scrolling
	margin-bottom: 6px;
	overflow-x: hidden;
	
	// page
	.home {

		// hide header and footer on fullscreen
		header, footer {
			display: none;
		}

		// remove padding top and bottom
		.main {
			padding-top: 0px;
			padding-bottom: 0px;

			// row
			.row {

				// hide jumbotron
				.jumbotron {
					display: none;
				}

				// remove the margin
				// because the tab will be the header
				.collection-viewer-tab {
					margin-top: 0px;

					// here, we will switch the fullscreen icon
					// to the minimize icon
					.main-nav {
						.media-action {
							.button-list {
								li {
									button {
										
										// change the icon to minimize
										.icono-expand {
											background-position: -48px -82px;
										}

										// on hover also
										&:hover, &:active, &.active {
											.icono-expand {
												background-position: -48px -106px;
											}
										}
									}
								}
							}
						}
					}
				}

				// add right and left spacing
				// to the collection viewer and more button
				.collection-viewer, .more {
					border-left: 6px solid @body-bg;
					border-right: 6px solid @body-bg;
				}
			}
		}
	}
}