// Import generic variables & mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

/**
* css/home/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
// every page starts with .page class selector
// for body element styling, go to generic/all.css

// home
body {
	.home {
		.main {
			padding-bottom: 0px;
		}
	}
}

.home {
	
	// main
	.main {
		
		// collection viewer
		#collection-viewer-element {
			
			// webkit (safari / chrome)
			&:-webkit-full-screen {
				.fullscreenStyling();
			}
			
			// microsoft (internet explorer)
			&:-ms-full-screen {
				.fullscreenStyling();
			}
			
			// mozilla (firefox)
			&:-moz-full-screen {
				.fullscreenStyling();
			}
		}
		
		// row
		.row {

			// jumbo
			.jumbotron {
				border-radius: 0px;
				height: 418px;
				padding: 0px;
				margin-bottom: 0px;

				// carousel
				.carousel {

					// inner
					.carousel-inner {

						// item
						.item {

							// bg 1
							.bg {
								width: 100%;
								height: 418px;
								

								// wrap
								.wrap {
									width: 100%;
									height: 100%;
									box-shadow: inset 0 0 250px #000;
									overflow: hidden;

									// carousel caption
									.carousel-caption {
										bottom: 0px;
										top:0px;
										left: 0px;
										right: 0;
										z-index: 0;
										text-align: left;
										position: relative;
										height: 100%;
										
										// mobile text
										&.desktop-text {
											display: none;
										}
										
										// mobile text
										&.mobile-text {
											display: block;
										}

										// style of header and text on jumbotron
										h1, p {
											font-size: 1.4em;
											padding: 11px 20px 15px 20px;
											margin-bottom: 0px;
											display: table;
											background: @euscreen-rgba-green-70; // the background
											font-family: @font-family-monospace;
											text-shadow: none;
											width: 95%;
											line-height: 1.4em;
										}
										h1 {
											margin-top: 15px;
										}
										p {
											font-size: 1.071em;
											margin-top:5px;
											padding: 14px 20px 20px 20px;
										}
										
										// link
										a {
											&.link {
												font-size: 1em;
												color: @euscreen-white;
												font-family: @font-family-monospace;
												text-shadow: none;
												border:1px solid #fff;
												text-align: center;
												position: relative;
												bottom: 0px;
												left: 20px;
												display: table;
												top:15px;
												background: rgba(0, 0, 0, 0.1);
												padding: 5px 35px 7px 35px;
												font-size: 1.143em;
												.transition(background 0.3s);
												
												&:hover {
													background: rgba(0, 0, 0, 0.3);
												}
											}
											&.small {
												font-size: 1em;
											}
										}
									}
								}
							}

							// set different background on each slide
							// one alternatives is to use image url
							.bg-1 {
								background: url('../../img/content/banners/bg-homepage-euscreen.jpg') no-repeat;
								.background-size(cover);
							}
							.bg-2 {
								background: url('../../img/content/banners/bg-homepage-collection.jpg') no-repeat;
								.background-size(cover);
							}
							.bg-3 {
								background: url('../../img/content/banners/bg-homepage-blog.jpg') no-repeat;
								.background-size(cover);
							}
							.bg-4 {
								background: url('../../img/content/banners/bg-homepage-myeuscreen.jpg') no-repeat;
								.background-size(cover);
							}
							.bg-5 {
								background: url('../../img/content/banners/bg-homepage-map.jpg') no-repeat;
								.background-size(cover);
							}
						}
					}

					// carousel control
					.carousel-control {
						width: 6%;
					}

					// carousel indicator
					.carousel-indicators {
						bottom: 10px;
						.opacity(0.5);

						// bullets
						li {
							&.active {
								margin: 1px;
								width: 10px;
								height: 10px;
							}
						}
					}
				}
			}

			// collection viewer tab
			.collection-viewer-tab {
				
				// set space to the jumbotron
				margin-top:6px;
				
				// row
				.row {
				
					// remove column padding inside row
					.removeColumnPadding();
					
					// main navigation
					&.main-nav {
						background-color: @euscreen-white;
						
						// tabs
						.tabs {
						
							// navigation tab
							// styling can be found on bootstrap/mixins.less
							.nav {
								.navigation-tab();
							}
						}
						
						// media action
						.media-action {
							
							// button
							.button-list {
								
								// hide minimize
								.exit-fullscreen {
									display: none;
								}
							}
						}
					}
					
					// themes
					&.second-nav {
						background-color: @euscreen-white;
						border-bottom: 5px solid @euscreen-blue;
						border-top:1px solid @body-bg;
						
						// list
						.list-inline {
							padding: 13px 0px 2px 20px;
							
							// the list
							li {
								margin-right: 2px;
								
								// anchor
								a {
									color: @euscreen-gray;
									font-size: 0.929em;
									font-family: @font-family-monospace;
									
									// on hover, should be the same with active
									&:hover, &:active {
										color: @euscreen-blue;
									}
								}
								
								// active links
								&.active {
									a {
										color: @euscreen-blue;
									}
								}
								
								// no right margin on the last item
								&:last-child {
									margin-right: 0px;
								}
							}
						}
					}
				}
			}
			
			// collection viewer styling
			.collection-viewer {
				
				// set spacing to the top
				margin-top:4px;

				// row
				.row {
					
					// remove column padding inside row
					//.removeColumnPadding();
					
					// media item styling is on
					// generic/all.less and it is being used
					// throughout the sites, here we just adjust them for the collection viewer
					.media-item {

						// padding 2px to create some spaces between item
						padding: 2px;
						

						// add media-big class to make the icon and text bigger (assigned to media-image class selector)
						// the actual styling to make it bigger is using bootstrap's row and column
						&.media-big {
						
							// image
							.media-image {
								
								// elements wrapper
								.media-wrapper {

									// make title bigger
									.media-title {
										h3 {
											font-size: 1.3em !important;
											font-family: @font-family-base;
										}
									}
	
									// make play icon bigger
									.media-hue {
										i {
											//margin:-22px 0 0 -15px;
											font-size: 1.5em;
										}
									}
								}
							}
						}

						// image
						.media-image {
							
							// elements wrapper
							.media-wrapper {

								a {
									&:hover {
										.media-hue, .media-title {
											.opacity(1);
										}
									}
								}
								
								// make play icon bigger
								.media-hue {
									i {
										display: none;
									}
								}
							}
						}
					}
				}

				// big collectiom viewer
				&.collection-viewer-big {

					// row
					.row {
						
						// throughout the sites, here we just adjust them for the collection viewer
						.media-item {

							// make the title smaller
							&.media-big {
							
								// image
								.media-image {
									
									// elements wrapper
									.media-wrapper {

										// make title bigger
										.media-title {
											h3 {
												font-size: 1em;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			
			// we make the row slighty wider (default is -15px) to accomodate
			// the 2px padding of each item
			&.row-collection-viewer {
				margin-left: -17px;
				margin-right: -17px;
				overflow: auto;
			}

			// more button
			.more {
				border-top:4px solid @body-bg;
				border-left: 2px solid @body-bg;
				border-right: 2px solid @body-bg;
			}
		}
	}
}

// when fullscreen on tablet
.fs {

	// add space to the top and hide horizontal scrolling 	
    margin-bottom: 6px; 	
	overflow-x: hidden;

	// page
	.home {

		// hide header and footer on fullscreen 	
		header, footer { 	
			display: none; 	
		}

		// remove padding top and bottom
		.main {
			padding-top: 0px; 	
			padding-bottom: 0px !important;

			// row
			.row {

				// hide jumbotron
				.jumbotron {
					display: none;
				}

				// remove the margin 	
				// because the tab will be the header
				.collection-viewer-tab {
					margin-top: 0px;
					position: fixed;
					width: 100%;
					top:0;
					left: 0;
					z-index: 10;

					// here, we will switch the fullscreen icon 	
					// to the minimize icon
					.main-nav { 	
						.media-action { 	
							.button-list { 	
								li {
									button {

										// change the icon to minimize
										.icono-expand {
											background-position: -48px -82px;
										}

										// on hover also 	
										&:hover, &:active, &.active {
											.icono-expand {
												background-position: -48px -106px;
											}
										}
									}
								}
							}
						}
					}
				}

				// add padding to the collection viewer because of fixed position
				.collection-viewer {
					padding-top: 113px;
					-webkit-overflow-scrolling: touch;
				}

				// add right and left spacing 	
				// to the collection viewer and more button 	
				.collection-viewer, .more {
					border-left: 6px solid @body-bg;
					border-right: 6px solid @body-bg;
				}
			}
		}
	}
}



