@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic);
/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
.myeuscreen .main .left .collection-header {
  border-bottom: 5px solid #00aeef;
  background: #fff;
  padding-left: 0px;
  padding-right: 0px;
}
.myeuscreen .main .left .collection-header .select-wrap {
  height: 60px;
  width: 205px;
  background: #00aeef;
}
.myeuscreen .main .left .collection-header .select-wrap select {
  width: 108%;
  padding: 17px 0px 10px 20px;
  font-size: 1.1em;
}
.myeuscreen .main .left .collection-header .select-wrap select option {
  color: #00aeef;
}
.myeuscreen .main .left .collection-header .select-wrap .glyphicon {
  font-size: 1.1em;
  right: 21px;
  top: 23px;
  position: absolute;
}
.myeuscreen .main .left .collection-header .media-action ul li {
  border-bottom: 0px;
}
.myeuscreen .main .left .collection-header .media-action ul li .action-form .btn-euscreen {
  width: 200px;
  height: 41px;
  display: inline-block;
  margin-top: 0px;
}
.myeuscreen .main .left .collection-header .media-action ul li .action-form .btn-delete {
  width: auto;
  border: 1px solid #ec008c;
  background: none;
  height: 41px;
  color: #ec008c;
  display: inline-block;
}
.myeuscreen .main .left .collection-header .media-action ul li .action-form .btn-delete:active {
  background: #ec008c;
  color: #fff;
}
.myeuscreen .main .left .collection-header .media-action ul li .small {
  width: 274px;
}
.myeuscreen .main .left .collection-counter {
  background: #fff;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  color: #808080;
  margin-top: 6px;
  padding-right: 0px;
  padding-left: 0px;
  border-right: 6px solid #f2f2f2;
  border-left: 6px solid #f2f2f2;
}
.myeuscreen .main .left .collection-counter:before,
.myeuscreen .main .left .collection-counter:after {
  content: " ";
  display: table;
}
.myeuscreen .main .left .collection-counter:after {
  clear: both;
}
.myeuscreen .main .left .collection-counter .pull-left {
  margin-top: 19px;
  margin-left: 20px;
}
.myeuscreen .main .left .collection-counter .pull-left .number {
  color: #00aeef;
  font-weight: bold;
}
.myeuscreen .main .left .collection-counter .pull-right .wrap-dropdown {
  float: right;
  height: 60px;
  border-left: 1px solid #f2f2f2;
  padding: 19px 10px 0px 10px;
}
.myeuscreen .main .left .collection-counter .pull-right .wrap-dropdown .dropdown a {
  padding: 5px 0px 5px 15px;
}
.myeuscreen .main .left .collection-counter .pull-right .sort-option {
  float: right;
}
.myeuscreen .main .left .collection-counter .pull-right .sort-option a {
  width: 50px;
  height: 60px;
  display: inline-block;
  border-left: 1px solid #f2f2f2;
  text-align: center;
  padding-top: 17px;
  font-size: 1.14em;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.myeuscreen .main .left .collection-counter .pull-right .sort-option a:hover,
.myeuscreen .main .left .collection-counter .pull-right .sort-option a:active {
  background: #00aeef;
  color: #fff;
}
.myeuscreen .main .left .collection-list {
  background: #fff;
  margin: 1px 0 0 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-right: 6px solid #f2f2f2;
  border-left: 6px solid #f2f2f2;
}
.myeuscreen .main .left .collection-list .spinner {
  padding-bottom: 0px;
}
.myeuscreen .main .left .collection-list .no-results {
  text-align: center;
  font-size: 0.929em;
  letter-spacing: 1px;
  padding: 23px 0 0 0;
  color: #00aeef;
}
.myeuscreen .main .left .collection-list .media-item {
  padding-top: 20px;
  padding-bottom: 10px;
}
.myeuscreen .main .left .collection-list .media-item .media-image {
  padding-right: 0px;
}
.myeuscreen .main .left .collection-list .media-item .media-metadata a h3.media-heading {
  font-size: 1.2em;
}
.myeuscreen .main .left .more {
  margin: 1px 0 0 0;
  border-right: 6px solid #f2f2f2;
  border-left: 6px solid #f2f2f2;
}
.myeuscreen .main .right {
  border-left: 6px solid #f2f2f2;
  border-right: 6px solid #f2f2f2;
}
.myeuscreen .main .right .notification {
  margin-top: 6px;
}
.myeuscreen .main .right .notification .alert {
  background: #00aeef;
  padding: 20px;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  margin-bottom: 6px;
}
.myeuscreen .main .right .notification .alert .header {
  display: block;
  color: #c1eeff;
  font-size: 0.786em;
  letter-spacing: 1px;
}
.myeuscreen .main .right .notification .alert p {
  color: #fff;
  margin-top: 5px;
}
.myeuscreen .main .right .notification .alert .close {
  margin: -2px 0 0 0;
  font-size: 1.143em;
  font-weight: normal;
  color: #fff;
  text-shadow: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.myeuscreen .main .right .user-profile {
  background: #fff;
}
.myeuscreen .main .right .user-profile .user-profile-box {
  height: 180px;
  background: url('../../img/content/banners/bg-profile.jpg') no-repeat;
  background-size: cover;
  position: relative;
}
.myeuscreen .main .right .user-profile .user-profile-box .profile-pic {
  width: 106px;
  height: 106px;
  border-radius: 55px;
  border: 4px solid #fff;
  position: absolute;
  bottom: -13px;
  left: 20px;
  z-index: 2;
}
.myeuscreen .main .right .user-profile .user-profile-box .profile-detail {
  position: absolute;
  left: 142px;
  bottom: 15px;
  right: 10px;
}
.myeuscreen .main .right .user-profile .user-profile-box .profile-detail .name {
  display: block;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  font-size: 1.714em;
  color: #fff;
  line-height: 1em;
}
.myeuscreen .main .right .user-profile .user-profile-box .profile-detail .join {
  font-size: 0.714em;
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  margin-top: 5px;
}
.myeuscreen .main .right .user-profile .user-profile-action {
  background: #fff;
  padding-right: 0px;
  padding-left: 0px;
}
.myeuscreen .main .right .user-profile .user-profile-action ul {
  text-align: right;
  margin: 0px;
  padding: 0px;
}
.myeuscreen .main .right .user-profile .user-profile-action ul li {
  list-style: none;
  display: inline-block;
  margin-left: -4px;
}
.myeuscreen .main .right .user-profile .user-profile-action ul li a {
  color: #00aeef;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  border-left: 1px solid #f2f2f2;
  height: 60px;
  display: block;
  padding: 21px 25px 0px 25px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.myeuscreen .main .right .user-profile .user-profile-action ul li a:hover {
  color: #0089bc;
}
.myeuscreen .main .right .user-profile .user-profile-action ul li a:active {
  background: #00aeef;
  color: #fff;
}
.myeuscreen .main .right .user-profile-edit .photo,
.myeuscreen .main .right .user-profile-edit .info,
.myeuscreen .main .right .user-profile-edit .password,
.myeuscreen .main .right .user-profile-edit .action {
  background: #fff;
  margin-top: 1px;
  padding: 20px;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group label,
.myeuscreen .main .right .user-profile-edit .info .form-group label,
.myeuscreen .main .right .user-profile-edit .password .form-group label,
.myeuscreen .main .right .user-profile-edit .action .form-group label {
  font-size: 0.77em;
  color: #808080;
  letter-spacing: 1px;
  font-weight: normal;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="text"],
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="text"],
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="text"],
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="text"],
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="email"],
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="email"],
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="email"],
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="email"],
.myeuscreen .main .right .user-profile-edit .photo .form-group textarea,
.myeuscreen .main .right .user-profile-edit .info .form-group textarea,
.myeuscreen .main .right .user-profile-edit .password .form-group textarea,
.myeuscreen .main .right .user-profile-edit .action .form-group textarea,
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="password"],
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="password"],
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="password"],
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="password"] {
  border-radius: 0px;
  padding: 10px;
  height: auto;
  font-size: 1.071em;
  background: rgba(255, 255, 254, 0.6);
}
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="text"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="text"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="text"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="text"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="email"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="email"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="email"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="email"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .photo .form-group textarea::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group textarea::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group textarea::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group textarea::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="password"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="password"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="password"]::-moz-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="password"]::-moz-placeholder {
  color: #d2d2d2;
  font-style: italic;
  opacity: 1;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="text"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="text"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="text"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="text"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="email"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="email"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="email"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="email"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .photo .form-group textarea:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group textarea:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group textarea:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group textarea:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="password"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="password"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="password"]:-ms-input-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="password"]:-ms-input-placeholder {
  color: #d2d2d2;
  font-style: italic;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="text"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="text"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="text"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="text"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="email"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="email"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="email"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="email"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .photo .form-group textarea::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group textarea::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group textarea::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group textarea::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .photo .form-group input[type="password"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .info .form-group input[type="password"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .password .form-group input[type="password"]::-webkit-input-placeholder,
.myeuscreen .main .right .user-profile-edit .action .form-group input[type="password"]::-webkit-input-placeholder {
  color: #d2d2d2;
  font-style: italic;
}
.myeuscreen .main .right .user-profile-edit .photo .change-password,
.myeuscreen .main .right .user-profile-edit .info .change-password,
.myeuscreen .main .right .user-profile-edit .password .change-password,
.myeuscreen .main .right .user-profile-edit .action .change-password {
  color: #00aeef;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  font-size: 0.857em;
}
.myeuscreen .main .right .user-profile-edit .photo .btn-euscreen,
.myeuscreen .main .right .user-profile-edit .info .btn-euscreen,
.myeuscreen .main .right .user-profile-edit .password .btn-euscreen,
.myeuscreen .main .right .user-profile-edit .action .btn-euscreen {
  background: #00aeef;
  width: 150px;
  margin-left: 10px;
}
.myeuscreen .main .right .user-profile-edit .photo {
  margin-top: 6px;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group:before,
.myeuscreen .main .right .user-profile-edit .photo .form-group:after {
  content: " ";
  display: table;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group:after {
  clear: both;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group label {
  float: left;
  margin-right: 15px;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group .photo-label {
  display: block;
  float: none;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group .profile-pic {
  width: 106px;
  height: 106px;
  float: left;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group .wrap-dropdown {
  float: left;
  margin-left: 10px;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group .wrap-dropdown .dropdown .anchor {
  background: #00aeef;
  color: #fff;
  display: block;
  padding: 7px 20px 6px 20px;
}
.myeuscreen .main .right .user-profile-edit .photo .form-group .wrap-dropdown .dropdown a {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
}
.myeuscreen .main .right .user-profile-edit .action {
  text-align: right;
}
.myeuscreen .main .right .history {
  margin-top: 6px;
}
.myeuscreen .main .right .history .history-header {
  border-bottom: 5px solid #00aeef;
  background: #fff;
  padding-left: 0px;
  padding-right: 0px;
}
.myeuscreen .main .right .history .history-list {
  background: #fff;
  margin: 6px 0 0 0;
  padding-left: 0px;
  padding-bottom: 20px;
  padding-right: 0px;
}
.myeuscreen .main .right .history .history-list .media-item {
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 20px 0px 20px;
}
.myeuscreen .main .right .history .history-list .media-item .media-image {
  padding-left: 0px;
  padding-right: 0px;
}
.myeuscreen .main .right .more {
  margin-top: 1px;
}
