// Import generic variables & mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/

// every page starts with .page class selector
// for body element styling, go to generic/all.css
.myeuscreen {
	
	// main
	.main {
		
		// left
		.left {

			// collection header
			.collection-header {
				border-bottom: 5px solid @euscreen-blue;
				background: #fff;
				padding-left: 0px;
				padding-right: 0px;

				// header
				.select-wrap {
					height: 60px;
					width: 205px;
					background: @euscreen-blue;

					// select
					select {
						width: 108%;
						padding: 17px 0px 10px 20px;
						font-size: 1.1em;

						// option
						option {
							color: @euscreen-blue;
						}
					}

					// icon
					.glyphicon {
						font-size: 1.1em;
						right: 21px;
						top:23px;
						position: absolute;
					}
				}

				// media action
				.media-action {
					ul {
						li {
							border-bottom: 0px;
						}
					}
				}
			}

			// header
			// counter
			.collection-counter {
				.clearfix;
				background: #fff;
				font-family: @font-family-monospace;
				color: @euscreen-gray;
				margin-top:6px;
				padding-right: 0px;
				padding-left: 0px;

				border-right: 6px solid @body-bg;
				border-left: 6px solid @body-bg;
				
				// left
				.pull-left {
					margin-top: 19px;
					margin-left: 20px;
					
					.number {
						color: @euscreen-blue;
						font-weight: bold;
					}
				}
				
				// right
				.pull-right {
					
					// wrap
					.wrap-dropdown {
						float:right;
						height: 60px;
						border-left: 1px solid @body-bg;
						padding: 19px 10px 0px 10px;
						
						// dropdown
						.dropdown {
							a {
								padding: 5px 0px 5px 15px;
							}
						}
					}
					
					
					// sort option
					.sort-option {
						float:right;
						
						a {
							width: 50px;
							height: 60px;
							display: inline-block;
							border-left: 1px solid @body-bg;
							text-align: center;
							padding-top: 17px;
							font-size: 1.14em;
							.transition(background 0.3s);
							
							&:hover, &:active {
								background: @euscreen-blue;
								color: #fff;
							}
						}
					}
				}
			}

			// collection content
			.collection-list {
				background: #fff;
				margin: 1px 0 0 0;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 20px;

				border-right: 6px solid @body-bg;
				border-left: 6px solid @body-bg;

				// spinner
				.spinner {
					padding-bottom: 0px;
				}
				
				// no results
				.no-results {
					text-align: center;
					font-size: 0.929em;
					letter-spacing: 1px;
					padding: 23px 0 0 0;
					color: @euscreen-blue;
				}
				
				// media item
				.media-item {
					padding-top:20px;
					padding-bottom: 10px;
					
					// media image
					.media-image {
						padding-right: 0px;
					}

					// metadata
					.media-metadata {
						a {
							h3.media-heading {
								font-size: 1.2em;
							}
						}
					}
				}
			}

			// more
			.more {
				margin: 1px 0 0 0;
				border-right: 6px solid @body-bg;
				border-left: 6px solid @body-bg;
			}
		}

		// right 
		.right {
			
			// notification
			.notification {
				height: 175px;
				background: @euscreen-blue;
			}

			// user profile
			.user-profile {
				height: 250px;
				background: #fff;
				margin-top:6px;
			}

			// hostory
			.history {
				margin-top:6px;

				// header
				.history-header {
					border-bottom: 5px solid @euscreen-blue;
					background: #fff;
					padding-left: 0px;
					padding-right: 0px;
				}

				// list
				.history-list {
					height: 400px;
					background: #fff;
					margin: 6px 0 0 0;
				}

				
			}

			// more
			.more {
				margin-top: 1px;
			}
		}
	}
}