@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic);
/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
.myeuscreen .main .left .collection-header {
  border-bottom: 5px solid #00aeef;
  background: #fff;
  padding-left: 0px;
  padding-right: 0px;
}
.myeuscreen .main .left .collection-header .select-wrap {
  height: 60px;
  width: 205px;
  background: #00aeef;
}
.myeuscreen .main .left .collection-header .select-wrap select {
  width: 108%;
  padding: 17px 0px 10px 20px;
  font-size: 1.1em;
}
.myeuscreen .main .left .collection-header .select-wrap select option {
  color: #00aeef;
}
.myeuscreen .main .left .collection-header .select-wrap .glyphicon {
  font-size: 1.1em;
  right: 21px;
  top: 23px;
  position: absolute;
}
.myeuscreen .main .left .collection-header .media-action ul li {
  border-bottom: 0px;
}
.myeuscreen .main .left .collection-counter {
  background: #fff;
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  color: #808080;
  margin-top: 6px;
  padding-right: 0px;
  padding-left: 0px;
  border-right: 6px solid #f2f2f2;
  border-left: 6px solid #f2f2f2;
}
.myeuscreen .main .left .collection-counter:before,
.myeuscreen .main .left .collection-counter:after {
  content: " ";
  display: table;
}
.myeuscreen .main .left .collection-counter:after {
  clear: both;
}
.myeuscreen .main .left .collection-counter .pull-left {
  margin-top: 19px;
  margin-left: 20px;
}
.myeuscreen .main .left .collection-counter .pull-left .number {
  color: #00aeef;
  font-weight: bold;
}
.myeuscreen .main .left .collection-counter .pull-right .wrap-dropdown {
  float: right;
  height: 60px;
  border-left: 1px solid #f2f2f2;
  padding: 19px 10px 0px 10px;
}
.myeuscreen .main .left .collection-counter .pull-right .wrap-dropdown .dropdown a {
  padding: 5px 0px 5px 15px;
}
.myeuscreen .main .left .collection-counter .pull-right .sort-option {
  float: right;
}
.myeuscreen .main .left .collection-counter .pull-right .sort-option a {
  width: 50px;
  height: 60px;
  display: inline-block;
  border-left: 1px solid #f2f2f2;
  text-align: center;
  padding-top: 17px;
  font-size: 1.14em;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.myeuscreen .main .left .collection-counter .pull-right .sort-option a:hover,
.myeuscreen .main .left .collection-counter .pull-right .sort-option a:active {
  background: #00aeef;
  color: #fff;
}
.myeuscreen .main .left .collection-list {
  background: #fff;
  margin: 1px 0 0 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-right: 6px solid #f2f2f2;
  border-left: 6px solid #f2f2f2;
}
.myeuscreen .main .left .collection-list .spinner {
  padding-bottom: 0px;
}
.myeuscreen .main .left .collection-list .no-results {
  text-align: center;
  font-size: 0.929em;
  letter-spacing: 1px;
  padding: 23px 0 0 0;
  color: #00aeef;
}
.myeuscreen .main .left .collection-list .media-item {
  padding-top: 20px;
  padding-bottom: 10px;
}
.myeuscreen .main .left .collection-list .media-item .media-image {
  padding-right: 0px;
}
.myeuscreen .main .left .collection-list .media-item .media-metadata a h3.media-heading {
  font-size: 1.2em;
}
.myeuscreen .main .left .more {
  margin: 1px 0 0 0;
  border-right: 6px solid #f2f2f2;
  border-left: 6px solid #f2f2f2;
}
.myeuscreen .main .right .notification {
  height: 175px;
  background: #00aeef;
}
.myeuscreen .main .right .user-profile {
  height: 250px;
  background: #fff;
  margin-top: 6px;
}
.myeuscreen .main .right .history {
  margin-top: 6px;
}
.myeuscreen .main .right .history .history-header {
  border-bottom: 5px solid #00aeef;
  background: #fff;
  padding-left: 0px;
  padding-right: 0px;
}
.myeuscreen .main .right .history .history-list {
  height: 400px;
  background: #fff;
  margin: 6px 0 0 0;
}
.myeuscreen .main .right .more {
  margin-top: 1px;
}
