@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic);
/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
@-moz-document url-prefix() {
  .warning-playout {
    display: block;
  }
}
.item .main .row .left .row .media-action {
  margin-top: 6px;
  border-left: 6px solid #f2f2f2;
  border-right: 6px solid #f2f2f2;
}
.item .main .row .left .row .media-action .button-list > li {
  display: block;
}
.item .main .row .left .row .image-player {
  background: #222;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  max-height: 500px;
  position: relative;
}
.item .main .row .left .row .image-player a .zoom {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 10px 15px 8px 15px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.item .main .row .left .row .image-player a .zoom i {
  font-size: 1.7em;
  color: #333;
}
.item .main .row .left .row .image-player a img {
  display: inline-block;
}
.item .main .row .left .row .image-player a:hover .zoom {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.item .main .row .left .row .audio-player {
  padding-left: 0px;
  padding-right: 0px;
}
.item .main .row .left .row .media-metadata {
  background: #ffffff;
  border-left: 6px solid #f2f2f2;
  border-right: 6px solid #f2f2f2;
  padding: 20px;
  font-size: 1.143em;
}
.item .main .row .left .row .media-metadata h1 {
  margin: 5px 0 22px 0;
  width: 70%;
  line-height: 1.3em;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}
.item .main .row .left .row .media-metadata .row .item {
  margin: 0 0 20px 0;
}
.item .main .row .left .row .media-metadata .row .item.space {
  margin-bottom: 40px;
}
.item .main .row .left .row .media-metadata .row .header {
  display: block;
  font-size: 0.77em;
  color: #808080;
  letter-spacing: 1px;
}
.item .main .row .left .row .more-less {
  background: #ffffff;
  margin: 1px 0 0 0;
  border-left: 6px solid #f2f2f2;
  border-right: 6px solid #f2f2f2;
}
.item .main .row .right {
  border-left: 6px solid #f2f2f2;
  border-right: 6px solid #f2f2f2;
  margin-top: 6px;
}
.item .main .row .right .row [class*='col-'] {
  padding-left: 0px;
  padding-right: 0px;
}
.item .main .row .right .row .sectiontab {
  background: #ffffff;
  border-bottom: 5px solid #00aeef;
}
.item .main .row .right .row .sectiontab .nav li {
  /*
								width: 1%;
								display: table-cell;
								*/
}
.item .main .row .right .row .sectiontab .nav li a {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  border: 0px;
  color: #808080;
  background: #ffffff;
  border-radius: 0px;
  font-size: 1.286em;
  padding: 15px 30px 15px 30px;
  margin-bottom: 0px;
}
.item .main .row .right .row .sectiontab .nav li a:hover {
  background: #00aeef;
  color: #ffffff;
}
.item .main .row .right .row .sectiontab .nav li.active a {
  background: #00aeef;
  color: #ffffff;
}
.item .main .row .right .row .section-content {
  background: #ffffff;
  margin-top: 6px;
}
.item .main .row .right .row .section-content .media-relate {
  margin: 0px 0 0 0;
}
.item .main .row .right .row .section-content .media-relate:before,
.item .main .row .right .row .section-content .media-relate:after {
  content: " ";
  display: table;
}
.item .main .row .right .row .section-content .media-relate:after {
  clear: both;
}
.item .main .row .right .row .section-content .media-relate .row.media-item {
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 20px 0px 20px;
}
.item .main .row .right .row .section-content .media-relate .row.media-item .media-metadata {
  padding-left: 20px;
}
.item .main .row .right .row .section-content .media-relate .more {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
}
.item .main .row .right .row .section-content .media-relate .more .more-button {
  font-family: 'Titillium Web', 'DIN', "Helvetica Neue", Monaco, "Andale Mono", Consolas, monospace;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  padding: 23px 0 23px 0;
  background: #fff;
}
.item .main .row .right .row .section-content .media-relate .more .more-button a {
  color: #808080;
}
.item .main .row .right .row .section-content .media-relate .more .more-button a:hover {
  color: #00aeef;
}
.item .main .row .right .row .section-content .discover-more {
  font-size: 1.143em;
  padding: 20px;
}
.item .main .row .right .row .ads {
  margin-top: 6px;
}
.modal .modal-dialog .modal-body {
  padding: 0px;
  text-align: center;
  background: #000;
}
.modal .modal-dialog .modal-body img {
  display: inline-block;
}
