// Import generic variables & mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
// every page starts with .page class selector
// for body element styling, go to generic/all.css
.item {
	
	// main
	.main {
	
		// row
		.row {
			
			// left
			.left {
				
				// rows
				.row {
				
					// media player
					.media-player {
					
						// this is to set the correct aspect ratio in player
						// select 16:9 or 4:3
						&.aspect-ratio {
							position: relative;
							height: 0;
							
							// player
							.player, embed, object, video {
								position: absolute;
								width: 100%;
								height: 100%;
								left: 0;
								top: 0;
								background: #000;
							}
							
							// 16:9 ratio, apply this class to aspect-ratio selector in HTML to give 16:9 aspect ratio
							&.wide { padding-bottom:56.25%; }
							
							// 4:3 ratio, apply this class to aspect-ratio selector in HTML to give 4:3 aspect ratio
							&.normal { padding-bottom:75%; }
						}
					}
					
					// media action
					// icon at the bottom of the media player
					.media-action {
						.clearfix;
						border-left: 6px solid @body-bg;
						border-right: 6px solid @body-bg;
						background: @euscreen-white;
						margin-top:6px;
						padding-right: 0px;
						
						
						// overlaycontent
						.overlaycontent {
							.clearfix;
							width: 300px;
							position: absolute;
							top:59px;
							right: 0px;
							background: rgba(255,255,255,0.95);
							z-index: 5;
							border-top:5px solid @euscreen-blue;
							padding: 20px;
							box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
							display: none;

							// header style
							h3 {
								font-family: @font-family-monospace;
								color: @euscreen-blue;
								font-size: 1.286em;
								margin-top:0px;
								margin-bottom: 15px;
							}

							// share icons
							ul {
								li {
									padding:0px;
									.fa-lg {
										font-size: 1.4em;
									}
								}
							}

							// small text below the login button
							.extra {
								font-size: 0.929em;
								display: inline-block;
								margin: 5px 0 0 0;
								color: @euscreen-gray;
								a {
									color: inherit;
								}
							}

							// bookmark's login
							.login {
								input[type="text"], input[type="password"] {
									.placeholderItalic(#d2d2d2,italic);
									margin-bottom: 5px;
									border-radius: 0px;
									padding: 10px;
									height: auto;
									font-size:1.071em; 
									background: rgba(255, 255, 254, 0.6);
								}
							}

							// list-group
							.list-group .plus-sign {
								margin-top:5px;
							}

							// button
							.btn-euscreen {
								margin-top:6px;
							}
						}

						// ul
						// default style is absolute, will switch to inherit on wide screens
						.button-list {
							margin: 0;
							padding: 0;
							position: absolute;
							right:0;
							top:0;
							z-index: 5;
							
							// lists
							> li {
								border-left: 1px solid @border-color;
								border-bottom: 1px solid @border-color;
								display: block;
								margin-left: -4px;
								padding:0px;
								position: relative;

								// anchor elements
								button {
									font-size: 1.7em;
									padding-top:17px;
									height: 60px;
									width: 60px;
									display: block; 
									border: 0px;
									border-radius: 0px;
									box-shadow: none;
									background: @euscreen-white;
									
									// on hover
									&:hover, &:active, &.active {
										background: @euscreen-blue;
										
										// flip to white icons
										i.icono-copyright {
											background-position: -253px -43px;
										}
										i.icono-share {
											background-position: -277px -43px;
										}
										i.icono-bookmark {
											background-position: -298px -43px;
										}
									}
								}
							}
						}
					}
					
					// media metadata
					// at the bottom of the player
					.media-metadata {
						background: @euscreen-white;
						border-left: 6px solid @body-bg;
						border-right: 6px solid @body-bg;
						padding:20px;
						
						// header
						h1 {
							margin: 5px 0 22px 0;
							width: 70%;
							line-height: 1.3em;
							font-family: @font-family-monospace;
						}
						
						// rows
						.row {
							
							// item
							.item {
								margin: 0 0 13px 0;
								
								// apply margin to add a bit of space, after the item
								// if the user wants it.
								&.space {
									margin-bottom: 30px;
								}
							}
							
							// header, styling is in bootstrap/mixins.less
							.header {
								.sectionHeading();
							}
						}
					}
					
					// more/less button
					// hide/show interactivity can be found in js/item.js
					.more-less {
						background: @euscreen-white;
						margin:1px 0 0 0;
						border-left: 6px solid @body-bg;
						border-right: 6px solid @body-bg;
						
						// more
						.more {
							.moreButton();
							border-top:0px;
							
							// button
							#hide-extra-filters {
								display: none;
							}
						}
					}
				}
			}
		
			// right
			.right {
				
				// add spacing on the left side of the section
				// a bit of a hack, but its better than to mess with bootstrap gutter
				border-left: 6px solid @body-bg;
				border-right: 6px solid @body-bg;
				
				// add space to the top content
				// default for mobile, will be remove on the wide screems
				margin-top: 6px;
				
				// row
				.row {
					
					// remove padding for UI styling
					// bootstrap bu default adds 15px padding on the left and the right side
					.removeColumnPadding();
					
					
					// tabs
					.sectiontab {
						background: @euscreen-white;
						border-bottom: 5px solid @euscreen-blue;
						
						// nav ul
						.nav {
							
							// list
							li {
								width: 1%;
								display: table-cell;
								
								// anchor link, there is already default style on bootstrap
								// we reset the style according to our need
								a {
									font-family: @font-family-monospace;
									border:0px;
									color: @euscreen-gray;
									background: @euscreen-white;
									border-radius: 0px;
									border:0px;
									font-size: 1.286em;
									margin-bottom: 0px;
									padding: 15px;
									
									// on hover, exactly the same as active mode
									&:hover {
										background: @euscreen-blue;
										color: @euscreen-white;
									}
								}
								
								// on selected
								&.active {
									a {
										background: @euscreen-blue;
										color: @euscreen-white;
									}
								}
							}
						}
					}
					
					// section content
					.section-content {
						background: @euscreen-white; // set bg
						margin-top:6px;
						
						// related media
						// dont set padding here, we need more/less button to be full width
						// set padding on media item instead
						.media-relate {
							.clearfix;
							margin: 0px 0 0 0;
							
							// row
							.row {
								
								// media item
								// general styling on media item can be found on generic/all.less
								// we just adjust them properly for the item page.
								&.media-item {
									margin-left: 0px;
									margin-right: 0px;
									padding: 20px 20px 0px 20px;
									
									// metadata
									.media-metadata {
										padding-left: 20px;
									}
								}
							}
							
							// more
							// styling for more button can be found in the bootstrap/mixins.less
							.more {
								margin-left: 0px;
								margin-right: 0px;
								margin-top:20px;
								
								.more-button {
									.moreButton();
								}
							}
						}
						
						// discover more section
						.discover-more {
							padding: 20px;
						}
					}
					
					// declaration of the ads selector can be found in generic/all.css
					// while the actual styling is in generic/all.less
					// here, we adjust them to the requirement of the item page.
					.ads {
						margin-top:6px;
					}
				}
			}
		}
	}	
}