/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/

.popover, .slide-panel {
  .login-form {
    display: none;
  }
  .login-form.visible {
    display: block;
  }
  .bookmarks {
    display: none;
  }
  .bookmarks.visible {
    display: block;
  }
  .menu {
    width: 100%;
  }
}

.page {
  main.item {
    .view-item {
      background-color: black;
      color: white;
      width: 100%;
      padding-bottom: 56%;
      text-align: center;
      position: relative;
      > video {
        top: 0;
        left: 0;
        position: absolute;
      }
    }

    .column.item {
      article {
        .meta-information {
          position: relative;
          > .euscr-row {
            float: left;
          }
          > .euscr-row.more-info {
            height: 0;
            margin: 0;
            overflow: hidden;
          }
          > .euscr-row.more-info.visible {
            height: auto;
          }
        }
      }
    }
  }
}
