/**
* css/item/desktop.less
*
* This file contains the styles for item.html for desktops and laptops.
*/
.page.desktop {
  main.item {
    @leftColumnWidth: 600px;
    @rightColumnWidth: 168px;

    .column.item {
      width: 100%;
      float: left;

      article {
        margin-right: @rightColumnWidth;

        .view-item-wrapper {
          height: auto;
          margin: 0 auto;
          max-width: @leftColumnWidth;
          width: 100%;
        }
        .meta-information {
          position: relative;
          float: left;
          border: 1px solid dodgerblue;

          .header {
            width: 100%;
            float: left;
            position: relative;
            border-bottom: 1px solid dodgerblue;

            h2 {
              margin: 5px 0;
              float: left;
              display: inline-block;
            }

          }
          .actions {
            position: absolute;
            top: 0;
            right: 0;
          }
          > .row {
            width: 100%;
            margin: 0 0 0 0;
          }
          > .row.more-info {
            height: 0;
            margin: 0;
            overflow: hidden;
          }
          > .row.more-info.visible {
            height: auto;
          }
          .column {
            float: left;
            width: 50%;
          }
        }
      }
    }
    .column.related {
      float: left;
      width: @rightColumnWidth;
      margin-left: -@rightColumnWidth;

      aside.related {
        float: left;
        width: 161px;
        margin-left: 5px;
        border: 1px solid dodgerblue;

        .related-item {
          text-align: center;
          width: 151px;
          padding-bottom: 56%;
          margin: 10px auto;
          background-color: brown;
        }
      }
      .ad {
        float: left;
        width: 161px;
        padding-bottom: 56%;
        margin: 5px 0 0 5px;
        border: 1px solid dodgerblue;
        text-align: center;
      }
    }
  }
}